[2016-12-09 17:51] fde31 opened #1 "Integrate HomeScreen Guide popup into React"
Currently we are using an external package to do this and would need to style it appropriately anyway. Instead it might be nicer to have it properly integrated into our React tree given that it's a simple task.

The browser detection code can be done using something like the bowser package (https://github.com/ded/bowser) or similar

[2016-12-09 17:53] fde31 opened #2 "Static File integration"
At this point we have various approaches how static files are used/consumed in MiraWeb. We should consolidate this and offer one unique way. Maybe with a webpack loader, maybe with a simple "statics" folder etc. Investigate first.

[2016-12-12 20:23] #2 closed, assigned to fde31

[2016-12-12 20:50] catarak opened #3 "miraweb multislider: does not use spacing attribute for bar and thin line modes"
As the title says:

----------begin_max5_patcher----------
557.3ociTssaiBCD8Y3qHhmoQ9FXy9qTUEY.2D2PLHiIaxVk+80WvMAZ5pEI
viGOybNyLd3yzjr59KhwrM+ZyqaRR9LMIwqxoHYdeR1I9klN9n2rrSScF4Xm
rUnyxCmelqU7Sh0G+J5snEMbUqz9QfCPA1hp.vpxbqDABokENIJDSQVcvsfM
us1SVzS.hRJfdOITPQkSpvEL3ROGElQy0NOsfy5jsdR1W+wKUQtMNvajp8tC
JWCJIBJAWgfd5VZQBvbR.K5L1JPiHlECuZ5jT0Y4xi7XfaZNXAcmVzXBXfXa
A4aPkH2BoLrCtH1x+3CMBrllEQZVvHXHwQN1

[2016-12-12 23:08] fde31 opened #4 "texture loading (mira.multitouch, gain~ etc)"
I saw that we are passing around the DataURL for gesture textures and generate multiple of them using

[code]

maybe it would be better to do these with Textures instead and introduce an AssetLoader utility that loads all necessary asset resources in one place. I'll have a go with it and pass it to you @catarak for a second pairs of eyes for review if you'd like?! Thx!

[2016-12-15 17:44] #1 closed, assigned to fde31

[2016-12-15 17:47] #4 closed, assigned to catarak

[2016-12-15 21:50] #3 closed, assigned to nobody

[2016-12-15 21:51] catarak opened #5 "Stuck sprite for pinch gesture in mira.multitouch"
Reproducible when pinching on a multitouch and then putting down a third finger.

[2016-12-15 21:52] #5 closed, assigned to nobody

[2016-12-20 00:30] benbrackenc74 opened #6 "message.js / comment.js: does not respect text justification attributes"
pixiUIObject.js set_font_justification() doesn't seem to be working, at least in message.js and comment.js. Haven't done any excavation yet.

[2016-12-20 00:36] benbrackenc74 commented on #6
<pre><code>
----------begin_max5_patcher----------
372.3ocsRFsaBBCEF9Z3ofzqYl1Bpz8prrrTwBqJzRZKFLFe2GbJnjMMpWra
nbNky+e++JmBCPazcBKJ58nOhBBNEFD.sFZDLVGfp4c4UbK7YnZg0xKEnX+d
NQmC5Wn0b61ho9MFgUnbbmTq9xHxcdOVhWfiiRoqGVHLxvBkt.G843bp1Zop
R3.ynWapacScISVvc4eKUkyjOMEzcoW9zk+Q94Gq4ZI2BgPuY2ajjoL38zcr
Q3UGgtnyPr20ZcxBY9EwlNtV2wJXDDZnw4vvgGwOIfy0008GwaA3G.WFj2DB
vXRFrPw2CtjaBW78gKcEnKFfKcDt3WCtIn+e.VKM7EEF

[2016-12-20 11:31] fde31 opened #7 "HTTPS warning"
When using motion data Chrome prints a warning that support for the 'deviceorientation' event on insecure origins is deprecated and will be removed in the future. Seems like we should consider having the MiraWeb files hosted and served via HTTPS in order to keep the support for this alive. It's not 100% clear to me yet, what's best wrt handling certificates but we should come up with some sort of

[2016-12-22 10:51] fde31 opened #9 "Move exclusively to Pixi PointerEvents"
Right now MiraWeb uses touch and mouse events in order to allow interaction with objects and gesture recognition. Ideally we should make exclusive use of PointerEvents emitted by PIXI.js after this PR https://github.com/pixijs/pixi.js/pull/3375

This would unify the codepath for event and gesture recognition and also simplify our PixiEventInput for Hammerjs.

[2016-12-22 12:00] fde31 commented on #9
These two commits set the baseline for using PointerEvents emitted by Pixi but also showcase the problem that Pixi does not properly shim Touch and Mouse Events before emitting these. Ideally whenever the user decides to use PointerEvents instead of Touch and Mouse the

`
event.data.originalEvent
`

should always be an instance of PointerEvent or a similarly structured, custom class in case the us

[2016-12-22 23:43] fde31 opened #12 "comment objects prevent interaction"
Reported by Pedro Louzeiro on the forums:

"Is it normal that the comments are opaque to the touch? I can’t click on a button if it’s underneath a comment"

Basically you can't interact with any object placed under a comment in MiraWeb while you can in Max.

[2016-12-28 23:51] fde31 opened #13 "live.grid doesn't support 'highlight' indication"
Reported on the forums by WETTERBERG:

I can totally reproduce this issue with MiraWeb while I verified that the highlighting is shown in Mira App.

[2016-12-29 12:08] fde31 commented on #12
This is a more general issue as in Max 'ignoreclick' passes the the interaction down to any elements underneath. Same in Mira App.

[2016-12-29 14:42] fde31 commented on #12
Two rather shortish commits in order to allow dynamic toggling of the interaction enabled/disabled state on a PixiUiObject. Additionally hooked it up properly to the ignoreclick attribute.

Wanna take a look @starakaj ?

[2017-01-03 15:36] fde31 opened #14 "Unlock aspect ratio"
Currently mira.frame has a fixed aspect ratio, which might be helpful to unlock in order to optimise. patches for certain devices. If this happens this work needs to be done on the Max site. Ticketing here for documentation purposes and in order to avoid duplicate FR and reports.

[2017-01-03 15:42] fde31 opened #15 "mira.multitouch ignores 'Draw Touches on Device' (remote_circles)"
Toggling the 'Draw Touches on Device' attr doesn't have any effect and mira.multitouch keeps drawing the touch circles regardless of the current setting

[2017-01-03 15:46] fde31 opened #16 "slider ignores opacity value for 'On Color' (knobcolor)"
Changing the knobcolor opacity doesn't affect the rendering of the slider in MiraWeb. In contrast changing the opacity of the bgcolor and elementcolor attrs leads to the respected results

[2017-01-03 15:48] fde31 opened #17 "mira.frame ignores the color attribute"
Changing the value of the color attribute doesn't affect the color of the frame in MiraWeb

[2017-01-03 22:13] benbrackenc74 commented on #16
Seems like on line 46 in slider.js there is some hard coding of the knobcolor's alpha for some reason:
https://github.com/Cycling74/miraweb/blob/dev/src/js/objects/slider.js#L46-L51

 I see no reason why this is here. I'll do some double checking and implement.

[2017-01-03 22:16] benbrackenc74 commented on #16
fixed in  7c549c1

[2017-01-03 22:16] #16 closed

[2017-01-03 22:26] benbrackenc74 commented on #6
Something happens with text alignment, but instead of aligning relative to the size of the comment box, for example, it aligns to the edge of the longest text line:

<img width="470" alt="screen shot 2017-01-03 at 2 26 05 pm" src="https://cloud.githubusercontent.com/assets/13490380/21625452/97c20170-d1c0-11e6-9cfc-b92bac165bed.png">

[2017-01-03 23:54] benbrackenc74 opened #18 "italic resets font styles to default values"
doing something like mgraphics.set_font_weight("italic") will cause the text to get rendered in the default style:

<pre><code>
----------begin_max5_patcher----------
459.3ocqSFsSCCBEF951mhFttRJzsVpuJFig0wlnsPCPMSM9t6AncNiNmaZu
nT9gd3muy47ZZBZkdmvhxtN6lrjjWSSRBRdgjo4Ind9t1NtMrMTuvZ4aEn73
ZNwNWP2IrNoZa1Jc25Loi2IasyaRM1KUcBWHBzIwAtq8d3OtyHZcQGrnDWz.
OKyyHUE3BXfT6GnTbQ1seDM8naNbjIU45fMzqd3J174F2l64AQ

[2017-01-04 00:06] benbrackenc74 commented on #18
This is because in src/js/lib/pixiUIObject.js textLine() and text(), there is no font-style per-se...all fontface attrs get passed to fontWeight, and when it is 'italic', PIXI.text() doesn't know what to do with it.

[2017-01-04 00:57] benbrackenc74 commented on #18
Error in the browser console:

[2017-01-04 14:48] fde31 commented on #15
I added support for the `remote_circles` and `remote_gestures` attributes to show & hide gestures and touch points accordingly. Might be nice to get someone to double check/test on a mobile/touch device additional to my testing so far.

[2017-01-04 18:30] fde31 commented on #17
I checked in an enhancement to make the color attribute of mira.frame set the bg of our Pixi Canvas and the surrounding background. Additionally the bg of the frame tabs is coloured accordingly, too.

I used a feature branch though as we don't take the bg color of the containing patcher into consideration and per default mira.frame has a opacity applied that isn't 1. Therefore the color in the bro

[2017-01-04 18:34] fde31 commented on #17
Example of new background color usage:

<img width="1382" alt="screen shot 2017-01-04 at 19 31 49" src="https://cloud.githubusercontent.com/assets/1119173/21654161/a22c982e-d2b4-11e6-9a20-a3d1d4170e22.png">

Showcasing difference in color value due to opacity/mixing with patcher bg

<img width="1377" alt="screen shot 2017-01-04 at 19 32 12" src="https://cloud.githubusercontent.com/assets/1119173/2

[2017-01-04 20:22] catarak commented on #15
tested and looked over the code, all looks good to me 😄

[2017-01-04 20:31] fde31 commented on #15
sweet! thx

[2017-01-04 20:31] #15 closed

[2017-01-04 20:36] fde31 opened #19 "zorder is off"
Use a simple patch with at least 3 objects and use "Send to Back" or "Send to Front". You should notice that the z-order in MiraWeb does not match the one in Max.

[2017-01-05 00:30] benbrackenc74 commented on #13
'currentstep' should provide this, I can take a look.

[2017-01-05 01:03] benbrackenc74 commented on #13
Hm, actually, 'currentstep' doesn't seem valid, it just shows up as 'undefined' when I add it to the live.grid.js, maybe @starakaj wants to take a look?

[2017-01-05 03:59] benbrackenc74 commented on #13
Actually, it looks like 'currentstep' needs to be added over in xebra.js/src/lib/objectList.js:
https://github.com/Cycling74/xebra.js/blob/dev/src/lib/objectList.js#L163

This seems a little cumbersome to have to add it multiple places like this.

[2017-01-05 13:04] fde31 commented on #13
hmmm yeah I agree. We made the decision to move the default parameter list into xebra.js in order to simplify the process for users of the lib, so that there is no need to declare all params yourself for supported_objects.

There is this issue: https://github.com/Cycling74/xebra.js/issues/1

which adds support for custom object with parameter list declaration. Maybe MiraWeb should use this instead

[2017-01-06 17:50] starakaj opened #26 "Miraweb should handoff between M4L and the Max Editor"
Just like udpreceive does it.

[2017-01-06 17:55] #18 closed

[2017-01-06 17:56] benbrackenc74 commented on #18
fixed in 242afee

[2017-01-06 18:02] starakaj commented on #26
Alright so, you'll need to pull xebra-communicator/dev and rebuild miraweb to test this. You'll also need to rebuild the miraweb and mira packages. But I _think_ I've covered all the use cases. It's a bit slow sometimes, but at least things seem to be working.

[2017-01-06 18:11] starakaj commented on #13
Hey, sorry for being so quiet here. Yes, that change is supported in the backend, so it should be possible to add parameters to miraweb supported objects that are not listed in the xebra.js object list.

Agreed that it's a bit annoying to have to change this in multiple places. We could simply have miraweb automatically add any needed extra parameters to its supported_objects list. But probably we

[2017-01-07 00:24] benbrackenc74 opened #28 "live.grid: sluggish UI interaction in client"
Interacting with live.grid is very slow on the browser side. Paste the below in Max and open a browser and mouse in the browser window:

<pre><code>
----------begin_max5_patcher----------
737.3ocsU0ziaCBD8bxuhHeN0BveRO1KqTO1CUpppJh3PbXWLDgwY2sq1+6c
3C6jTksZSUVKYaXfAdy6MC7x7YIq0Ow6SV74E+bwrYuLe1LuImgYw9yR5XO0
HY89okHEG3osFwljkgQOvLJVG+xCpF5zCVI25ctLZcOy1rSnZWY3M1vlmmkV
hfmxkKvHRJZ4hLDx8CW.+V7qnmgEy

[2017-01-09 18:03] fde31 commented on #26
Oki. I tested a couple of scenarios:

**/ Port Discovery**

Started Max and MiraWeb in different scenarios to see if port discovery works:

- [x] Port 8086 in use -> MiraWeb binds to Port 8087
- [x] Ports 8086 to 8089 in use -> MiraWeb binds to Port 8090

Given that iterative Port discovery when start MiraWeb seems to work fine and the correct address/port was reported on the Max console

**/ M4L

[2017-01-09 18:31] #19 closed

[2017-01-09 19:17] starakaj opened #29 "Miraweb should display connection dialog after disconnection"
After 5 reconnect attempts, miraweb is expected to return to the login dialog so the user can attempt to connect again. For me, on OS X, chrome version 55, it doesn't seem to be working.

[2017-01-09 20:50] benbrackenc74 commented on #6
all fixed up

[2017-01-09 20:50] #6 closed

[2017-01-09 22:50] fde31 commented on #29
fixed

[2017-01-09 22:50] #29 closed

[2017-01-11 16:45] catarak opened #31 "Multislider scaling off"
As reported by Andreas Wetterberg:

Scaling seems off? enable thin line and measure it out, the top end of the values clips out… A 0–16 multislider behaves and reads out like 0–15… I think it’s the placement of thin line that’s off on one of the views. mentally preparing for it being hard to explain… It’s particularly noticeable when using it as a position marker, which you need for live.grid, see

[2017-01-11 17:33] catarak commented on #7
Third-party SSL certificates can't be issued for localhost, for security reasons ([reference 1](https://github.com/letsencrypt/boulder/issues/137#issuecomment-112236543)) ([reference 2](https://cabforum.org/pipermail/public/2015-June/005673.html)). We could create some self-signed certificates, but then every time a user navigated to `https://localhost:8086` they would see
![untrusted-localhost](h

[2017-01-12 22:18] benbrackenc74 commented on #13
This should be in the next miraweb/mira package. I'm sidestepping the deeper issue for now, though I can expect it will come up fairly often.

[2017-01-12 22:18] #13 closed

[2017-01-17 14:09] fde31 opened #33 "Improve "Connecting" State"
Currently when you hit the `Connect` button in the initial Dialog we simply switch to a disabled button in order to prevent further clicks and let the action take place behind the scenes. Might be good to give a bit more feedback to the user as in switching to something like a spinner, when attempting to connect to the server?

Original report from the forums

[2017-01-17 14:17] fde31 opened #34 "Keyboard Input for UI Objects"

[2017-01-24 23:57] wetterberg opened #35 "live.text partially ignores its @mode attribute"
it remains stuck in the "toggle" setting visually, even though its output is the "button" mode.

[2017-01-24 23:59] wetterberg opened #36 "comment object: font style "italic" is broken"

[2017-01-25 00:02] wetterberg commented on #31
Tested, this appears fixed :) cheers

[2017-01-25 00:05] wetterberg commented on #17
This now works in Max itself - is it also supposed to carry over into the browser? Essentially colouring the background? This does not happen currently.

[2017-01-25 00:08] benbrackenc74 commented on #36
This is fixed in the next version as per ticket #18

[2017-01-25 00:08] #36 closed

[2017-01-27 04:03] hepiyellow opened #37 "Does MiraWeb work with Max 6.1 ?"

[2017-01-27 04:11] benbrackenc74 commented on #37
Only Max 7+ is supported.

[2017-01-27 04:11] #37 closed

[2017-01-30 11:47] fde31 commented on #17
It should be working as we were testing successfully. But the test setup is a bit more complex as this required a change in xebra.js

In general the best way to test all this and do dev work is by doing the following (<branch> to be replaced by the branch PR etc to test with)

1. Clone xebra-communicator repo and checkout <branch>
2. Clone xebra.js repo and checkout dev <branch>
3. Clone miraweb r

[2017-01-30 23:11] benbrackenc74 commented on #14
I believe this is all set and will be in the next update.

[2017-01-30 23:11] #14 closed

[2017-01-30 23:12] benbrackenc74 commented on #17
Closing this issue, and we can revisit the dev setup on another ticket

[2017-01-30 23:12] #17 closed

[2017-01-30 23:33] benbrackenc74 opened #38 "multislider: skips over sliders when dragging quickly"
On the Max side, when you drag across multislider, all of the values are filled in. When you are on the Miraweb side, it will miss any number of sliders as you drag across. See patcher:

<pre><code>
----------begin_max5_patcher----------
726.3ockUssbaBCD8Y6uBFd1kQWAQ+G5WPlLYDXEGkfkbEBWmlI+6ck.Yvdr
Sa8LFIVsmU6d1K7w5U4M1Sp97rum8P1pUerd0pnnffUSuuJeu7TamrOpVdqc
+dkwmuY7Lu5jOJeqStK6mC5125dOS15r88Y6G575

[2017-02-01 01:46] CarloCattano opened #39 "Android devices Screens fading out even in full screen mode"
For some reason it does not recognize the fullscreen command as "keep the screen activated", as expected and experienced in any videoplayer etc

[2017-02-01 15:03] fde31 commented on #39
Just to clarify/double check: you're saying that the screen goes off compared to video playback when in fullscreen mode?

A quick googling showed that there is a [Wake Lock API](https://w3c.github.io/wake-lock/) proposal but I couldn't find immediate info wrt available implementations in certain browsers and various platforms but that might be a good way to start looking into this.

Apart from tha

[2017-02-01 15:52] CarloCattano commented on #39
yes , in Android is possible to do as you explain . so it is possible but less convenient i guess. thanks
also orientation must be locked , otherwise when using accelerometer input screen change affects orientation reading , so we are used to suffer under android dont worry too much about it . It was just a consideration and if there it was an easy option to try implementing it without much compli

[2017-02-02 15:24] starakaj commented on #26
Hey, sorry for being mum on this for so long. To @fde31 's first point, I'm not sure how to handle that simply and cleanly. We could think about extending the miraweb protocol somehow, so that the server running in the Max process and in the Live process are able to forward packets between each other, but I'm not sure how easy it would be to do.

As for the second point, I made a modification in m

[2017-02-02 15:24] #26 closed

[2017-02-02 15:26] #31 closed

[2017-02-02 16:30] starakaj commented on #12
Cool, these changes make sense to me. It does make it impossible for an object to have a hit area that is different from it's bounds, but that's not a problem for any of the objects we support.

[2017-02-02 16:30] #12 closed

[2017-02-03 19:18] catarak opened #41 "live.grid - implement matrix mode"
This is implemented in the original Mira iPad app, so we should probably implement this for Miraweb.

[2017-02-06 10:47] fde31 commented on #33
fixed with merging #42

[2017-02-06 10:47] #33 closed

[2017-02-06 10:49] fde31 commented on #28
@catarak just to double check, all we need to do here is merge the pr in xebra.js? Or is any further work necessary?

[2017-02-06 11:00] fde31 opened #43 "investigate single repo/project setup"
It's currently a bit heavy to deal with the three repo setup wrt Pull Requests, Ticketing and especially testing. Seems like people more involved can deal with that easily using proper local linking etc. Ideally we'd consider moving to a more monolithic structure, which allows easier testing etc in a single repo while still publishing 2 (or maybe even just one) npm packages (xebra-communicator, xe

[2017-02-06 11:22] fde31 commented on #38
Interesting... I looked at the code to see if we are throttling somewhere but couldn't find any insight. Just to double check: @starakaj am I correct?

Guess the correct way to resolve that is by not really relying on the slider attribute value passed to the event handler and instead registering/deregistering pointers on multitouch and making use of the delta params on the event in order to draw a

[2017-02-06 12:53] starakaj commented on #43
+1 for this. Seems like it would make our lives much easier as well.

[2017-02-06 12:56] starakaj commented on #38
Yeah @fde31 you have it right. If you look at live.grid, that's exactly what we're doing thqere, so it's just a question of adding similar code here.

[2017-02-06 12:57] fde31 commented on #38
I'll take a quick step at it. thx

[2017-02-06 14:09] fde31 commented on #38
assigned to @benbrackenc74 to review

[2017-02-06 14:41] fde31 commented on #9
guess this one is tackled by merging #40 closing out

[2017-02-06 14:41] #9 closed

[2017-02-06 19:24] benbrackenc74 commented on #38
This is working great!

[2017-02-06 19:24] #38 closed

[2017-02-06 22:57] benbrackenc74 opened #45 "slider: accommodate relative attribute"
with @relative set to 1, sliders in Max will adjust the current value of a slider from where the mousedown occurs, and move up or down accordingly, and this is not reflected in miraweb. For an example:

<pre><code>
----------begin_max5_patcher----------
464.3ocwUsraBCCD7bxWQjOSQ4ATB7qfPHmvB0TGajsSDUU8eu9QL0HQPokJ
wkX10qmryrSLeFGgp3mAIJYUx5jnnOiihroLIh5iiPM3y0TrzVFpl2z.LEZh
aOEbVYyiqjbZqBV42g01vaUT

[2017-02-11 04:00] 1offby opened #47 "live.text as button not round in miraweb"
Max 7.3.2 beta 6bf7de6 x64
Mira v 1.2.0
Miraweb v 1.1.0
mac OS 10.12.3
iOS 10.2.1

Live.text in button mode is displayed as rectangle in miraweb. Should be round. Mira app shows live.text as round in button mode.

<pre><code>
----------begin_max5_patcher----------
216.3ocWOErqBCBD7L7UP3bsg1mVMuekWLFJkWEsEZ1BllX7eW1s1KxgMYFl
Y2YdxYx1vhcVJ9U7mfwdxYLhBIXevL4ndwLnmIYxQGnK+GziVYw52tde.rlA
m4Npn5CsOM57C

[2017-02-11 06:54] 1offby opened #48 "live.text pictures do not update when empty"
Max 7.3.2 beta 6bf7de6 x64
Mira v 1.2.0
Miraweb v 1.1.0
mac OS 10.12.3
iOS 10.2.1

Sending the message "pictures" with no argument clears pictures displayed in live.text.
This message works in Max and the Mira app but not in MiraWeb.

Workaround: Load a blank .svg to clear contents

<pre><code>
----------begin_max5_patcher----------
816.3ocyW90aaCBD.+4jOEH+zlTlk+SrSReHRUU6w9xdcZpBaSSn0Fh.bVpp
528c

[2017-02-11 07:13] 1offby commented on #47
...Possible that other features of live.text in button mode are not reflected in MiraWeb.
For example: live.text as button still appears to toggle in MiraWeb.

[2017-02-11 13:42] starakaj commented on #47
Can reproduce. Indeed, the Mode attribute seems basically ignored by live.text.

[2017-02-11 13:48] starakaj commented on #48
Good catch. I'll add that this is broken for live.tab as well. Probably worth mentioning that fpic does not work the same way as these objects---sending the pic message to fpic does not clear the image in the fpic. However, reloading the patch after clearing the image this way will blank out the fpic. Not sure how much of this behavior (which seems slightly buggy anyway...) we want to reproduce fo

[2017-02-16 19:56] CarloCattano opened #50 "Mira.Frame Glitching and blinky after lastest updates"
Hi there . Just updated both max and miraweb. Now in all of my android devices , with both native web browser or chrome , the UI screen appears for a while , then as soon as the screen is touched , it becomes either tottaly black , blinking fading between black and white fastly , or just stays in full black out , sliders and objects still functional but invisible .
Any idea what could be the solut

[2017-02-16 21:20] starakaj commented on #50
Hey Carlo, I can't seem to reproduce this in the android emulator. What device are you running on? What OS?

[2017-02-16 21:28] fde31 commented on #50
Might also be helpful if you could share the patch. The new MiraWeb
supports poster and frame color backgrounds so maybe there is something
along these lines triggering it.

On 16 February 2017 at 22:20:06, Sam Tarakajian (notifications@github.com)
wrote:

[2017-02-16 21:54] CarloCattano commented on #50
-Tablet lenovo A7600-F , Android version 4.4.2 kernel 3.4.67
-Smartphone Alcatel one Touch 5025D, Android version 5.1 kernel 3.10.72

the patch is the default miraweb Launcher and from there I connect to the same Ip and port given.
Was working just before updating . I attach also a video , but camera frame rate cant see the actual blinking

https://drive.google.com/open?id=0B4P3snRTyoRbZkY2VGYtS1p

[2017-02-16 23:51] fde31 commented on #50
OK. I tested on Chrome, FF and Safari on Mac OSX and couldn't reproduce. Then went ahead and so far all fine on an iPad (iOS 10) and iPhone (iOS 9). Then went ahead and took everything for a spin on a Nexus 9 (Android 7.0) in Chrome => no flickering, all smooth and fine.

I have a ZTE Blade L5 and will double check 2morrow.

In the meantime can you give us your Max support info? What version of Mi

[2017-02-17 05:29] evanmtp opened #51 "Multislider doesn't snap to integers in MiraWeb"
When using MiraWeb to control a multislider set to integer mode, the multislider in the browser doesn't snap to integer values - instead, it behaves like a floating point multislider, with the sliders smoothly moving across the full range. The multislider in the patch will jump to an integer when the multislider in the browser crosses that integer value.

System and Max Version:
Max 7.3.2 (6bf7de6

[2017-02-17 08:12] CarloCattano commented on #50
Max support clipboard :  http://pastebin.com/MyaMFt7w

Miraweb & mira folders are in the max7/Packages/ folder.

The max console doesnt give any report , everything goes "fine". With laptop there is no problems.
I will try to reinstall the package and/or  clean the preferences in max?

Thanks for your help

[2017-02-17 08:22] CarloCattano commented on #50
Tried to downgrade to miraweb 1.0.1 but without any change , the problem is still there.
The current version , and the one that started this issue is V 1.2.0

[2017-02-17 08:38] fde31 commented on #50
I'll get to this in a bit. In the meantime, can you remove the Mira
package from your Packages folder (max ships with an internal one by now),
install MiraWeb 1.2.0 again and clear the cache on your devices' browser?

Thanks

On 17 February 2017 at 09:22:44, CarloCattano (notifications@github.com)
wrote:

[2017-02-17 08:54] CarloCattano commented on #50
Did al the suggestions as @fde31 says .
Still having same issue in both devices and two different browsers with fresh clean cache.
:-(
Max console acts normal :
Mira Initialized, package version: 1.2.0
websocket connection available at ws://192.168.2.118:8086

[2017-02-17 09:05] fde31 commented on #50
OK. Somewhat good news: I can reproduce on a ZTE L5 Blade with Android 5.1.
I’ll investigate

Am 17 Feb 2017 um 09:54:14, CarloCattano (notifications@github.com) schrieb:

Did al the suggestions as @fde31 <https://github.com/fde31> says .
Still having same issue in both devices and two different browsers with
fresh clean cache.
:-(
Max console acts normal :
Mira Initialized, package version: 1.2.0

[2017-02-17 09:47] fde31 commented on #50
It's in fact related to the change where started drawing the background color in a way it matches  patcher/mira.frame in the patcher. I have checked in a fix for this on the `fde/fixAndroidFrameBackground` branch basically making the PIXI renderer transparent again and applying the background tint on the DOM level. This change should be fine also given the fact that the bg color doesn't change fre

[2017-02-17 09:57] fde31 commented on #50
@CarloCattano if you wanna run a test on your end I've built a pre-release version of the MiraWeb client incl. a fix. If you manage to run a simple server on your computer to host the files and access from your Androids that would be ace. Just leave the MiraWeb package in Documents/Max 7/Packages untouched and simply just access the index.html file included in this .zip and use it as normally (jus

[2017-02-17 19:04] CarloCattano commented on #50
Thanks for the help , glad that you could find the spot !
Im a little bit lost about running it in a server. Could it be uploaded and then accesed from <script src="http...etc" ??
Or any nice article or way to find the information to do it with nodes.js?
Yet not feeling home with lined code but my will is strong!

[2017-02-17 20:01] benbrackenc74 commented on #50
@CarloCattano we've just released a new Miraweb Package via the Max Package Manager, give it a go and let us know if you run into any problems!

[2017-02-17 20:01] #50 closed

[2017-02-17 20:12] CarloCattano commented on #50
I have no words!! working 100% stable and sweet .
This is the fastest bugfix i ever saw or could think off EVER!
You just saved me and hundreds of other people that will use this with old android devices👍 👍 👍
/* Thanks = [uzi 1000] */

[2017-02-18 14:13] fde31 commented on #51
yeah. seems like there is no code in place to check whether settype is set to integer or float.

[2017-02-18 14:37] fde31 commented on #35
additional input from @1offby

[2017-02-18 14:37] fde31 commented on #47
that's a duplicate of #35 moving the comments there and closing out

[2017-02-18 14:37] #47 closed

[2017-02-18 15:11] fde31 opened #54 "MiraWeb client name peristent between launches"
It would be nice to have persistent client ids between launches using something like localStorage etc. We'd have to investigate whether duplicate names causes issues on the backend but if not this might be straightforward to do as we do this already for storing color options etc etc.

[2017-02-20 22:29] 1offby opened #55 "Mira.frame in subpatcher incorrectly opens in patching mode"
Pretty sure I saw an issue similar to this posted previously but cannot find it now.

Tested on
macOS Sierra 10.12.3, Safari 10.0.3, Chrome 56.0.2924.87
iPad Air 2 iOS 10.2.1

Steps
1. Open the patcher pasted below
2. Open browser, point to miraweb websocket connection*

Expected: Miraweb mirrors mira.frame in [p Mira] in presentation mode because [p Mira] "View: Open in Presentation mode" flag is

[2017-02-20 23:07] benbrackenc74 commented on #55
@1offby this is over on the xebra.js repos:
https://github.com/Cycling74/xebra.js/issues/16

Closing out here as it is an issue with xebra.js, so feel free to follow up in that repository, thanks!

[2017-02-20 23:07] #55 closed

[2017-02-24 21:07] 1offby opened #56 "live.dial shows float when set to int"
mac OS Sierra 10.12.3
Max 7.3.2 x64
Mira v1.2.0
Miraweb 1.2.1
iOS 10.2.1

Live.dial set to Type int displays floating point in some situations. Also occurs in the Mira App.
Is this MiraWeb or Xebra related?

<pre><code>
----------begin_max5_patcher----------
1072.3oc6YsziihCD9bxuhHNmMBaCFXuMRyg8v73vr2F0Jxg3P6oIlHiIpmc
T+eeKaCDHaRZ5YY0lQh9P2F65kqp99JR5eLel2lhm4kdK98EecwrY+X9rY1s
LaLq94Yd6YOmlyJsh4k

[2017-02-25 05:30] 1offby opened #57 "live.tab finger drag vs mouse drag"
Mira v 1.2.0
Miraweb v 1.2.1
In Max click+drag on live.tab scrolls through tab selections.
In Miraweb live.tab touch+drag not support this behavior.

<pre><code>
----------begin_max5_patcher----------
482.3ockSssbaBCD8Y3qPidlxvkX639qzICi.VvJQHwnKTxjI+6UWPwjF2lj
GrW1UR6pyE8RZBtUrBJL5mnegRRdIMIwWxUHYKOAOQV6XDkea3NwzDv03rvZ
ZXUGqOSj.Rwn8.ZfxGAIRKP8RxHZRXTP7HJ8yLvelXEtYhxYf1OgxshyDc2E
aaZjPmNbCKOUmeHC

[2017-02-27 02:23] benbrackenc74 opened #58 "live.text / live.tab: Max hangs when reloading patcher"
Max will hang when you re-open a patcher containing a mira.frame object that you had previously connected to via the browser. It seems to have to do with the number of live.text objects.

Steps to repro:
1. In Max, open patcher
2. Open browser to connect to mira.frame
3. Back in Max, close the patcher
4. In Max, re-open the patcher - Max hangs

Max 7.3.2, latest miraweb package (1.2.1), FF 51.0.1

[2017-02-27 02:28] benbrackenc74 commented on #58
This seems to have something to do with utilizing SVGs.

[2017-02-27 02:40] 1offby commented on #58
Can reproduce. Add_params.maxpat.zip yields a hang log similar to others I've been experiencing in similar use cases.

[2017-03-01 05:52] benbrackenc74 opened #59 "@hidden attribute not respected on patch reload"
1. Paste the following in a new patch

<pre><code>
----------begin_max5_patcher----------
1498.3oc6btzcZiCEGeM7ovGuoaXn5keM6lYeWMKyYN4XrETkXr33GoISO86
9nGV9A0PfDZK3pr.DxR1268+u60x1P957Ytq3OSKcc9Sm6blM6qymMS0kriY
Medl613mSxhKUCyMtppnl4tPuoxpWxnp9M8jWukWWkQqTCG1z6t3pjOyx2be
AMoRe3fnfk.BNJvegSDZIXgCzCHeCI9fy+1LQ4gSs++LKMklaNJrTUm7UO7G
DSe5Ca0K6n5Cfqa6dQXTr7VaR122lOW9xhSzqS3a2RyqLGpJ5yJuvshuYSF0
gU5TR

[2017-03-02 21:16] benbrackenc74 opened #60 "live.* UI objects do not use steps attribute"
Found while looking at #56 , none of the live.* UI objects pay attention to the steps attribute.

<pre><code>
----------begin_max5_patcher----------
1150.3oc6Z0zaihCF9bxuhHNmMBaCFXtMRyg8vL6dX1aiphbHNodJwDYLQc1
Q8+95O.BNhPncopsRzCIFa+Z+9wyyiMQ82ym4sI+QZg2hOs3GKlM62ymMyzk
tiYUOOy6.4wzLRgYZdYrSzU7xC5YszN9IhfSNPu1vpmxKkYToYAfU8djHSum
w2uVPSkVG.BRV4ubAL.q+BY9DDtxewcU1v1Z1i7M+7OBpWc6RK+0QpcQ77Vt
vaWVNQs

[2017-03-03 23:17] benbrackenc74 commented on #60
I've implemented this on the bb_livedial branch just for live.dial. There is a not insignificant amount of work to do for live.* objects.

[2017-03-03 23:18] benbrackenc74 opened #61 "live.* UI objects: do not handle enum parameters"
as the title says:

<pre><code>
----------begin_max5_patcher----------
1015.3oc6XsziaaCD9r8uBAc10fjRhRr2BPOjCIoGRuETXPKS6kYkoLnnL1z
f8+dGRJIas0OztUEKJf1CxCImW9alugx6OmOKbc4ShpvfeM3aAyl8y4yl41x
twrl0yB2yeJufW4TKrPdTrTUu2p0B+4G4ZEeu3ZGWVaJDFyONH7wILbQP31h
RtIL3Oaz4.2j+fTsakVja7pQHoKQKBvQI1OhntEfbmMPTjJvyt7B2robiKMJ
W+8egE14bMjdFgdkPwWWHNWevI97y4ERytU7ihMq3FiVtt1HNIU0fLMPi86d
Qsnba61s6edPKJU6tA9zS2pG

[2017-03-03 23:36] benbrackenc74 commented on #56
I think this is actually handled in xebra.js, liveDisplayValueMixin.js, but I'll leave it here for now.

[2017-03-06 23:53] benbrackenc74 commented on #35
added @mode attribute with rev 770a840 on bb_livetext_buttonmode branch. Requires xebra.js bb_livetext_buttonmode_export branch as well.

[2017-03-06 23:56] benbrackenc74 commented on #35
and merged to dev branch.

[2017-03-06 23:56] #35 closed

[2017-03-07 00:06] benbrackenc74 commented on #57
fixed and merged to dev.

[2017-03-07 00:06] #57 closed

[2017-03-07 00:25] benbrackenc74 commented on #51
fixed and merged to dev

[2017-03-07 00:25] #51 closed

[2017-03-09 01:45] evanmtp opened #66 "Number boxes always behave as floating point"
Somewhat similar to issue #51 re: multislider. When using MiraWeb to control an integer number box, the number box in the browser doesn't snap to integer values - instead, it behaves like a floating point number box, with digits after the decimal point. The number box in the patch will jump to an integer when the number box in the browser crosses that integer value.

The issue occurs when testing

[2017-03-10 13:43] fde31 commented on #66
afaict number needs to be enhanced as there is no proper support for the _format_ and _numdecimalplaces_ attributes

[2017-03-10 21:15] benbrackenc74 commented on #66
numdecimalplaces is implemented for flonumber, but not number, so there is so inconsistency between these two implementations. `format` is not implemented in either. Maybe we should collapse these two, use the format, and create an alias for number/flonumber.

[2017-03-12 23:28] 1offby commented on #58
Any progress here?
I'm about to complete a few things that use this feature (live.xxx and .svg) and in good position to test any miraweb versions that may resolve this bug.

[2017-03-13 16:12] fde31 commented on #66
I agree that we should consolidate the two objects here, use the Factory approach (I guess that is what u refer to with 'alias') to get the right UIObject implementation to deliver the number for both flonum and number and just use the attributes in a consistent way.

[2017-03-14 22:47] benbrackenc74 commented on #58
No new work has been done here. happens with fpic if you have enough of them. There is no caching of reused sprites, so this is maybe an area of optimization that could happen. Maybe something more needs to happen in destroy() to fully clear out the sprite? Unsure ATM how to solve.

[2017-03-15 17:12] 1offby commented on #58
Here's an actual Max crash prompted by opening a miraweb socket on Chrome on the local machine
[mirawebcrash.txt](https://github.com/Cycling74/miraweb/files/845412/mirawebcrash.txt)

[2017-03-15 17:21] 1offby commented on #58
For what it's worth I have been able to get a similar hang using the Mira App.
Definitely do want to use MiraWeb in situations where reliability is an important consideration; hope it's possible to avoid recurring Max application hangs/crashes.
Many thanks for making a great Max Package!

[2017-03-16 07:47] matcham opened #67 "@ignoreclick attribute is ignored"
when an object has it's ignoreclick attribute enabled, clicking / touching it in miraweb (Safari / Chrome, ...) 'capture' the cursor, and the object placed in the background don't receive the touch input.

This DO works as expected in the Mira iOS app. (and of course in Max) : click & touch pass thru objects with @ignoreclick 1

example :

<pre><code>
----------begin_max5_patcher----------
482.3oc

[2017-03-16 07:52] matcham opened #68 "The comment UI object captures touch & click"
this problem is probably link to this issu :   #67 (ignoreclick attribute is ignored)

The comment UI object (which do not have ignoreclick attribute, but which by nature is not touchable...) has the same problem : it captures touch & clicks, and prevent objects place in its background to be touched :
place a comment object in front of a slider : the slider cannot be controlled.

(this works as ex

[2017-03-16 14:16] #59 closed

[2017-03-16 16:58] benbrackenc74 commented on #67
@matcham I can't reproduce the issue you describe. When I try to repro here, functionality is exactly the same in Max and in the browser. Could you send along a demo video of it in action? Also, your Max Support info and browser versions?

[2017-03-16 17:00] benbrackenc74 commented on #68
@matcham as mentioned on #67 , I can't repro here. Maybe an issue with different browsers/versions of the package?

[2017-03-16 21:15] matcham commented on #67
Ups, sorry for the noise, it works fine now !
(this problem has been fixed in latest miraweb version)
I updated my miraweb just before reporting this issue, but I didn't refreshed the web page in my browser (safari / iPad) ; so I guess that an outdated version was still running on the iPad...
I close both issues
thanks Ben

[2017-03-16 21:15] #67 closed

[2017-03-16 21:16] matcham commented on #68
fixed in miraweb 1.2.1 .
sorry for the noise...

[2017-03-16 21:16] #68 closed

[2017-03-16 21:39] matcham opened #69 "mira.frame focus message doesn't work"
open mira.frame.maxhelp
in 'scripting' tab, click on
"script send scriptyFrame focus"
nothing happens in miraweb (iPad / Safari)

(it works as expected in mira.app)

[2017-03-16 23:33] benbrackenc74 commented on #69
i can confirm that this has yet to be implemented.

[2017-03-16 23:37] benbrackenc74 commented on #69
workaround for the time being is to manage tab order by using the @taborder attribute.

[2017-03-17 15:11] starakaj commented on #66
Ben --- want to take a look at this one?

[2017-03-17 15:12] starakaj opened #70 "Number box should support non-decimal display formats"

[2017-03-17 15:55] starakaj commented on #58
Hmm. Memory leaks? Race conditions? Hard to say---let's find out.

[2017-03-17 15:57] starakaj commented on #58
Can reproduce

[2017-03-17 16:04] starakaj commented on #58
Ok, you don't have to re-open the patch---you just have to open a patch containing a lot of SVGs while Max is already connected to Miraweb (or mira)

[2017-03-17 16:08] 1offby commented on #58
In my experience the hang can also start when changing the .svg contained in a bunch of live.text objects within the mira.frame via the "pictures" message.
Thank you for looking into this!

[2017-03-17 16:11] starakaj commented on #58
Hmmmmmmmmmmmm that's interesting. So maybe it has nothing to do with creating a brand new patch...

[2017-03-17 16:13] benbrackenc74 commented on #58
I think that making a new patch, or reloading the previous one, is just an
easy way to make it happen. It seems to me like a memory thing, or like
textures/sprites aren't getting destroyed/freed and start stacking up.

On Fri, Mar 17, 2017 at 9:11 AM, Sam Tarakajian <notifications@github.com>
wrote:

[2017-03-17 16:14] starakaj commented on #58
Just pausing execution on the application when it hangs seems to suggest this might be related to JUCE's MessageManagerLock

[2017-03-17 16:23] benbrackenc74 commented on #66
this looks great here, thanks @starakaj !

[2017-03-17 16:23] #66 closed

[2017-03-17 16:51] starakaj commented on #58
K, I'm pretty sure now that this has to do with mixing-and-matching different kinds of critical sections, which is causing a deadlock. It's not _immediately_ obvious how to solve this, but I can try a couple things.

[2017-03-17 17:02] 1offby commented on #58
FYI the MiraWeb implementation where I get the most hangs includes conditions where a lot of live.text objects get pictures or set messages almost simultaneously. Seems like a situation where resources could get mixed up.

[2017-03-17 23:04] benbrackenc74 commented on #70
@starakaj do you want to check this out? Thanks!

[2017-03-18 03:02] 1offby commented on #58
Well, this was an exciting series-of-comments-on-an-issue.
Any progress?

[2017-03-20 14:30] starakaj commented on #58
@1offby I banged on it for a few hours on Friday---unfortunately it's a bit sticky and involves a deadlock among pieces that I don't totally understand. I'm trying to figure out the best way to solve it without touching too much code. It's being looked at, don't worry!

[2017-03-20 14:31] starakaj commented on #70
Yus!

On Fri, Mar 17, 2017 at 7:04 PM, benbrackenc74 <notifications@github.com>
wrote:

[2017-03-20 14:41] 1offby commented on #58
I appreciate the update, and the effort. Many thanks!
I checked the RAM impact of lots of live.text objects compared to a similar number of fpics,
those live.text thingys use a lot of resources, and I thought that might contribute to the issue. I am changing the way I build UI for Miraweb to use fpic wherever possible, and will report whether that resolves the hang...
Nonetheless looking forward t

[2017-03-21 00:47] 1offby commented on #58
I took one of the patchers I'm working on that had a lot of .svg being swapped in and out of live.text and replaced those live.text with fpic.
Similar hangs persist.
[hangs.zip](https://github.com/Cycling74/miraweb/files/856782/hangs.zip)
Interestingly the memory impact in terms of RAM use, which I thought would go down with fpic replacing live.text, remained the same.

[2017-03-21 00:49] benbrackenc74 commented on #58
@1offby yes, fpic has the same problem, as mentioned above.

[2017-03-21 00:51] 1offby commented on #58
Darn.

[2017-03-21 05:00] 1offby commented on #61
Here's an example where live.dial shows NaN in the Miraweb browser:

<pre><code>
----------begin_max5_patcher----------
1069.3oc6X0zbahCF9r8uBOb1qGIAHP6sNSOrG1s6gr25zwiLV1QMXIOBgmj
sS9uu5C.iRscH6PZOTxAhPRuevy6yyq.+s4yh1HejUEs32W74Eyl8s4yl4lx
Nwrl6mEcf9XQIsxssnR9I1psbZYzR+pmnJA8.KbwOG+k10OR0E2yE6WqXEZe
jfIfUfkKHo1q9ww3UfEeowDQ8AYstjocgD05HEqhIzTMWJryCalmu0Ea4lu9
aHBrMrziGYTEUTv5u2iloNvzL0ZlftoLbsd9

[2017-03-23 16:39] fde31 commented on #60
potentially something that could be handled more generally in xebra.js!? Not sure

[2017-03-24 11:13] 11ols opened #72 "Wrong network adapter is used by Mira Web (Win 7)"
Hi!
Details:
on windows 7 64bit I have some virtual network adapters installed. additionally to my default wlan adapter. Mira(web) is using one of the virtual adapters! (i assume it picks the last adapter in the list)
I can access the ip on the same computer but of course not with other clients in my wlan. I add a pic, which makes it very clear.

The Problem is I can't tell mira which adapter to u

[2017-03-27 19:36] 1offby commented on #58
Checking in.
I have client apps in beta but app hanging is a no-go.
Does this bug look solve-able?
Thank you for any update

[2017-03-27 19:40] benbrackenc74 commented on #58
@1offby this ticket will be touched when we have a fix. We do not have a timetable for this.

[2017-03-27 23:29] benbrackenc74 commented on #28
this is working quite well here now, @fde31 do you want to take a look and merge the PR? https://github.com/Cycling74/miraweb/pull/71

[2017-03-28 13:47] fde31 commented on #43
Ok. I updated the fde/monorepo branch and made the whole setup and usage process much more streamlined. Would u mind giving that branch a whirl @benbrackenc74 and @starakaj ? I don't wanna say too much and see if you guys can tackle along based on the README contents.

Guess once that's settled we should tackle the publishing and docs hosting workflow @benbrackenc74 but maybe it's better to do tha

[2017-03-28 16:15] starakaj commented on #70
K, so this is broken for negative numbers, for some of the more esoteric display formats. I'm going to take a quick look at the number object in Max itself, see if we can move code over without doing too much extra work.

[2017-03-29 09:31] fde31 commented on #28
yes. will do

[2017-03-29 11:52] leonardiandrea opened #74 "JSPainter file doesn't affect web UI"
Hi All,
I'm trying to edit mira.multitouch object UI with jspainter file.
Web client UI ignore that. Is here a way to edit web UI with or without jspainter file?

Many thanks,
Andrea

[2017-03-29 13:46] starakaj commented on #43
Cool, I'm spinning it up now!

[2017-03-29 13:54] leonardiandrea commented on #74
I've noticed that js/objects/mira.multitouch.js has his own paintMethod()...
Maybe I can handle there?

[2017-03-29 17:50] fde31 commented on #43
made some changes to the dev setup by updating to webpack > v2.0.0 and utilizing webpack-dev-server. Please refer to the README script section for the new dev build vs serve scripts. Also note that a dev-server does auto reload on detected changes and auto connects to Max for a smoother experience

[2017-03-30 09:35] fde31 commented on #74
Hey.
for now there is no support for JSPainter definitions/code in MiraWeb although it might be a cool feature down the line.

Each the UI related logic/rendering code for each object is defined in src/js/objects/<object_name>. Not sure if you've noticed but they all subclass `MiraUIObject` and implement an interface, which includes the paint method. Anyway, long story short: the paint method is t

[2017-03-30 12:14] fde31 commented on #56
OK I tackled this in the xebra.js repository on the `liveparam_intenum_support` branch. Once we resolved the monorepo #43 thingie this can be merged over I guess and tested more easily than with the current setup. Please note that the provided example also uses Steps, which is a separate ticket #60

[2017-03-30 12:16] fde31 commented on #61
Similar to #56 this is tackled in the xebra.js repository on the `liveparam_intenum_support branch`. Once we resolved the monorepo #43 thingie this can be merged over I guess and tested more easily than with the current setup.

[2017-03-30 12:31] fde31 commented on #61
@benbrackenc74 if you wanna test this please get in touch as there is also a change in the Max backend to make the transition of switching back and forth between types (INT, FLOAT, ENUM) work properly

[2017-03-30 13:02] fde31 commented on #28
commented on PR #71 but in general fine with merging at this point once @catarak feels like it given the review.

[2017-03-30 13:39] fde31 commented on #69
@benbrackenc74 I added support for this and tweaked the taborder a bit to match the Mira App ordering wrt <none> values set.

@starakaj I figured the `mira_focus` attribute is used to make this happen. Weirdly enough it is part of the state tree already (although it's not in the supported_objects list/attrs). To make things a bit more misleading: if I add it to the object list of xebra.js things s

[2017-03-30 16:33] fde31 commented on #60
Ok I made a few changes in xebra.js for this one and also adjusted the way live.dial and live.numbox pointer interactions are handled. This way steps and enums (as outlined in #61) should now work smoothly. The xebra.js branch is `iveparam_intenum_support` while the miraweb stuff is on ` fde/live_stepsenum_support`.

live.slider is left wrt horizontal. Didn't mean to interfere with the work @stara

[2017-03-30 17:15] benbrackenc74 commented on #45
This is working well here in vertical mode, however it breaks horizontal mode.

[2017-03-30 22:40] fde31 commented on #69
ah. there is a weird thing with this and I need @starakaj help here. I can make it work in a weird scenario:

1) add `mira_focus` to the `mira.frame` attr list in xebra.js
2) -> doesn't work when reloading MiraWeb and sending script mssg
3) Follow up connections show no mira.frame instances and addParam fails for a few nodes (I assume it thinks there should be additional nodes in the tree, but the

[2017-03-30 23:16] fde31 commented on #45
let me look into this.

[2017-03-31 08:20] fde31 commented on #45
I just added an overhauled and simplified version of this that should fix the horizontal mode and also play nicer with the steps and enum work for live.parameters down the road. I noticed this work was surprisingly not following the branch+pr model so I sticked to the `dev` branch for now.

@benbrackenc74 wanna give it another spin to double check?

[2017-03-31 15:03] starakaj commented on #69
Ok, let's take a look...

[2017-03-31 19:14] starakaj commented on #69
Okay, fixing this actually required pushing a change to mira.frame. Seems the focus message was changing length depending on whether or not the particular mira tab wanted focus. So when a tab wanted focus, it would send the message "mira_focus 1". But the default state of the parameter was "mira_focus" without and attached value, which was confusing the websocket layer. So, I just made the default

[2017-04-03 13:59] starakaj commented on #70
Ben and I looked at this, and it's not really clear how we could handle large negative numbers coming from 64 bit Max. But it's not clear that this is something that we should be worried about. If the current implementation seems more or less okay, then I'd say we can close out this ticket.

[2017-04-03 14:01] starakaj commented on #60
Ok, excited to see this working!

[2017-04-03 14:03] starakaj commented on #69
Quick note, this will also require pulling the latest xebra.js/dev, which adds the mira_focus attribute to mira.frame

[2017-04-03 14:16] starakaj commented on #60
On the xebra.js end this is working flawlessly, and definitely uses steps correctly. I think we have to make some changes to miraweb itself, however, to get this to work the way that it does in Max. On the desktop Max end, it seems like changing the number of steps actually causes the object to enter "pseudorelative" mode (hopefully if you play around with a live.slider object you'll see what I me

[2017-04-03 19:18] starakaj commented on #60
Cool, so in conjunction with the `liveparam_intenum_support` on xebra.js, this should be a decent implementation of how things work in Max. Basically, integers should "step" in the same way that enums do, sliders in relative mode should behave like sliders in relative mode in Max, and sliders in absolute mode should behave in the same "pseudorelative" way that they do in native Max.

[2017-04-03 19:23] #70 closed

[2017-04-03 19:40] benbrackenc74 commented on #69
This is working great here, I'll merge this PR.

[2017-04-03 19:40] #69 closed

[2017-04-03 21:31] benbrackenc74 commented on #56
@fde31 I still see numbers like 21.0% in the example above. Maybe this is handled in unit style definitions for '%'. Notice that 'custom' and 'native' unit styles aren't handled either. Maybe that is another ticket.

[2017-04-03 21:35] benbrackenc74 commented on #54
this is working well here, will merge.

[2017-04-03 21:35] #54 closed

[2017-04-03 21:41] benbrackenc74 commented on #45
This seems to be working well here. Requires live_stepsenum_support branch merge.

[2017-04-03 21:41] #45 closed

[2017-04-03 21:57] benbrackenc74 commented on #61
working well here, and tested with changes in Max.

[2017-04-03 21:57] #61 closed

[2017-04-13 03:01] 1offby opened #77 "panel respects bgcolor but not bgfillcolor"
Maybe not a miraweb issue. Maybe xebra?

Panel background color can be set using bgcolor or bgfillcolor. (The Max Reference for panel documents bgfillcolor but not bgcolor.)

in Miraweb and the Mira App panel will not change color on bgfillcolor; only bgcolor works.

<pre><code>
----------begin_max5_patcher----------
1315.3oc6YszjahCD9r8uBJtrW75BIgDn8VpJGxgr6dH6sTolBCZ7nLXgKdL
YxlJ+2W8.X.L1lwFl0oJ

[2017-04-18 18:39] benbrackenc74 commented on #60
This looks good when using xebra.js branch `liveparam_intenum_support` and miraweb branch `fde/live_stepsenum_support` Do we need to make a few PRs and get these into their respective  dev branches?

[2017-04-18 18:47] starakaj commented on #60
Indeed! I have made the pull requests, if you want to merge.

[2017-04-18 18:58] benbrackenc74 commented on #60
thanks, Sam! merged.

[2017-04-18 18:58] #60 closed

[2017-04-18 23:00] benbrackenc74 commented on #77
I'm guessing this will actually have to be fixed in Max.

[2017-04-19 18:01] 1offby opened #79 "Miraweb element update is sluggish"
Unzip the folder and place the unzipped folder in the Max search path.
Open "om.ct.maxpat."
Connect MiraWeb.
Miraweb and om.ct.maxpat have interfaces using color changes to panel as a method of registering mouse clicks/touches.
The miraweb GUI will not always update reliably. One example: miraweb needs to be touched again before screen is re-drawn.
Seems more pronounced in MiraWeb than in the Mira

[2017-04-19 18:06] benbrackenc74 commented on #79
@1offby can you give me some more steps or a video of how Miraweb fails? I'm not sure how to repro.

[2017-04-19 18:16] 1offby commented on #79
The steps are:
1. open om.ct.maxpat
2. connect the mira.frame object inside om.ct.maxpat to miraweb
3. tap the Miraweb GUI to activate the various buttons (temporary), toggles (on/off), and banks 1-4 (only one yellow at a time)
4. eventually the miraweb interface will not reflect the UI in max
However, after repeating the behavior enough times to prompt this report, I can't reproduce for video.

[2017-04-19 18:22] benbrackenc74 commented on #79
I cannot reproduce either. I do see a number of dict errors, f.e.:

etc.

If you are able to narrow down the repro steps, let me know, happy to give it another go.

[2017-04-19 18:46] 1offby commented on #79
The .zip attached with this comment should not throw any dict errors.
[Video Example of issue with miraweb](https://youtu.be/FEizfqK105A)
[Video using Mira, issue not as pronounced](https://youtu.be/K_Zu5DpJ23o)
Video hint: compare the MiraWeb UI with the UI on the computer screen. In the first video the two are not exactly similar at a coupler points later in the video

[MiraWebDemo.zip](https://

[2017-04-19 21:46] benbrackenc74 commented on #79
Ok, I can kind of reproduce. It's not clear to me where the bottleneck is exactly (touch interaction, dict usage, param setting, redrawing queue, etc), but I am not surprised at the performance with the round trip requirement for this kind of interaction. Not sure what we can do here, but it is something we can profile at some point.

[2017-04-19 22:31] 1offby commented on #79
Here is a version of the patch that is much simplified:
[toggle simplified.maxpat.zip](https://github.com/Cycling74/miraweb/files/938806/toggle.simplified.maxpat.zip)
I am able to get similar results where MiraWeb seems unreliable while Mira app works better.
The round trip is mira.touch>some logic and a coll>set panel bgcolor.
And video:
[Miraweb](https://youtu.be/UtG3EAjG7xQ)
[Mira App] (https:/

[2017-04-19 23:21] benbrackenc74 commented on #79
This seems to just be a general issue with the speed of transferring param changes and UI redraws. In the case of "bgcolor" there are a number of parameters that are all transmitted with a single change to the attr, so it might be more discreet of an issue for this activity.

Though currently on a branch (but soon to be merged to dev), you may be interested in checking out the work done for live.g

[2017-04-20 02:20] 1offby commented on #79
Thank you for taking time to track this down @benbrackenc74
 Similar to #58 this addresses UI setups where a single press on Mira can change the drawing of the entire window.
Unlike #58 Max does not hang.
I look forward to the next update to MiraWeb; definitely love this platform and hope that these kind of GUI setups get more reliable.

[2017-04-28 21:41] 1offby commented on #58
For what it's worth this hang can also happen when closing a max patch that is connected to Mira app or Miraweb.

[2017-04-28 22:08] 1offby commented on #58
@fde31 What does the Component: Max Objects label mean?
I'm guessing this indicates that the issue relates to Max objects, but which ones? Mira.frame or live.text/fpic?

[2017-05-01 16:41] #28 closed

[2017-05-02 21:22] fde31 commented on #58
@1offby sorry for the confusion. We renamed it to "Backend" and just use it as a generic label for things that need to be tackled on the Max/backend side compared to ones on the client/frontend libs.

[2017-05-03 14:25] starakaj commented on #56
Can repro on latest dev, which has merged `liveparam_intenum_support`. Maybe the merge caused a regression? Looking into it.

[2017-05-04 14:25] fde31 commented on #56
just talked to @starakaj taking a look

[2017-05-04 15:45] fde31 commented on #56
ok. I added custom and native unitstyle support and adjust the percent option by taking float and int type into account. should be good now when consuming the dev branch from xebra.js @benbrackenc74

[2017-05-04 20:34] fde31 commented on #48
OK. I tackled this in both, _xebra.js_ and _MiraWeb_, so that we now have the following state:

* sending an empty or one value only `pictures` msg to _live.text_ clears the according resources/images
* sending _fpic_ an empty `pic` msg clears the resource (as in Mira App, however notice the diff to Max here as discussed earlier today)

However, I noticed that setting the `pictures attr` of _live.

[2017-05-05 19:04] 1offby commented on #56
Thank you all!

[2017-05-05 19:06] 1offby commented on #48
Yay, thank you. Finally my blank.svg can get a rest.

[2017-05-08 16:34] catarak opened #82 "live.grid constraint mode sometimes misses cells"
When dragging quickly in constraint mode, sometimes cells that you dragged over don't change state. This is due to the way that the constraint value is updated--it updates values based on the whole column rather than one specific cell.

[2017-05-09 13:25] starakaj commented on #58
Alright, let's see if I can't make some progress here...

[2017-05-09 14:19] starakaj commented on #58
Okay @benbrackenc74, would you mind giving this a test? You'll need to pull the latest max and rebuild mira.frame. Looks like there are certain functions that libXebra expects to be executed from the main thread that were not, in fact, being executed from the main thread. With this fixed, this problem seems to go away.

[2017-05-09 14:29] starakaj commented on #48
@fde31 yes, this will require a change to live.tab itself to fix, as it's a bona fide Max bug. Try attaching an attrui to a live.tab object and setting it to the "pictures" attribute. Then, send the live.tab object the message "pictures". This clears the live.tab object, but the attrui won't update. Basically, setting pictures to an empty value doesn't cause the attribute to send a Max notificatio

[2017-05-09 15:24] 1offby commented on #58
Thank you!
I am excited.

[2017-05-09 18:01] starakaj commented on #48
k, so turns out was a bug in both attrui and libXebra as well. Both don't seem to handle attributes with length 0 very well. Both should be fixed now in Max commit 3544c8f

[2017-05-09 18:01] starakaj commented on #48
Oh, also, @fde31's fixes work great.

[2017-05-09 18:07] starakaj commented on #43
Auto reload and auto connect --- work great for me and big quality-of-life improvements!

[2017-05-09 21:37] benbrackenc74 commented on #58
I can confirm that this will be fixed for Max 7.3.4. Well done @starakaj.

[2017-05-09 21:38] benbrackenc74 commented on #72
Deferring this for a future release.

[2017-05-09 21:59] benbrackenc74 commented on #56
working well here.

[2017-05-09 21:59] #56 closed

[2017-05-09 22:12] benbrackenc74 commented on #48
this works well, and will be available in Max 7.3.4

[2017-05-09 22:12] #48 closed

[2017-05-09 22:13] 1offby commented on #58
Thank you very much for your work on this!

[2017-05-09 23:04] catarak opened #83 "live.grid matrixmode misses cells when dragging quickly"
This is due to how the interpolation is calculated. It doesn't take into account there being multiple cells per column.

[2017-05-10 06:35] fde31 commented on #48
perfect. Totally forgot to add the additional test patcher I used here:

`
----------begin_max5_patcher----------
1296.3oc0YszbihCD9ryuBJN6wCRhm6gop4GvddOjMkKYrrix.RTfHUlZp4+
9pWXKR7C1XE1rGrEsPf95O0cqVM+5tEga3uP5BC9if6CVr3W2sXgtKUGKrxK
BqwuTVg6zCKrjWWSXhvkl6IHuHz8+UXP4iX1dR.sFuW9NsCnAKJejx1utkTJ
LSTZT5pnkA.XwpDYSRjRBJ+O3A6Cw5qorJhPOk.amcheVQzy0v6ltUKx27zW
RiBO9r7dwvCGo5722cm5ukSTEqIccRU3MpXCsTz2R5

[2017-05-10 16:39] benbrackenc74 commented on #41
Fixed and merged in with https://github.com/Cycling74/miraweb/pull/81

[2017-05-10 16:39] #41 closed

[2017-05-11 20:19] fde31 commented on #43
Note: `publish`doesn't add a git tag in case MW got updated. It probably shoudl

[2017-05-12 10:00] fde31 commented on #43
we might also wanna consider checking if the current working dir is clean (in a git sense) b4 running `publish` in case of an error we could then safely roll back all changes

[2017-05-12 12:51] fde31 opened #84 "Node compatibility"
Copied from the xebra-communicator repo:

Currently the communicator relies on the WebSocket API available in a browser env. Would be nice to make it work within Node.js too.

[2017-05-12 12:54] fde31 opened #85 "cdn.js hosting for xebra.js"
Moved over from xebra.js repo:

We should make an attempt to have xebra.js prebuilt versions hosted on cdn.js for even more convenience and discoverability.

[2017-05-12 12:55] fde31 opened #86 "tree state explorer example for Xebra.js"
Moved over from cycling74/xebra.js#5 as part of the Monorepo move.

[2017-05-18 19:34] benbrackenc74 opened #87 "mira.status: changing client name in browser adds another connection"
When you change the client name in the browser, it adds another connection to mira.status.

To repro:
1. open miraweb launcher and connect to a browser
2. open mira.status help patcher and 'getconnections' - one client name is posted in the Max console
3. in the browser, click on the 'gear' icon in the upper right and change the client ID name
4. back in Max, click on 'getconnections' again - two

[2017-05-18 20:53] benbrackenc74 opened #88 "mira.frame help patcher: basic tab not showing in browser"
If the mira.frame help patcher is opened before the browser opens a connection, the 'basic' tab will not appear.

Steps to repro:
1. open mira.frame help patcher
2. open client connection on browser and connect - basic tab is missing

[2017-05-18 20:55] benbrackenc74 commented on #88
Additionally, if you connect in this fashion, the 'supported UI objects' tab is always missing a number of objects (always the same ones). See attached pic:

<img width="1424" alt="screen shot 2017-05-18 at 1 54 40 pm" src="https://cloud.githubusercontent.com/assets/13490380/26223115/95725e26-3bd1-11e7-8891-a236f3185204.png">

[2017-05-18 21:01] benbrackenc74 opened #89 "mira.motion: non-functional"
open mira.motion help patcher and connect with a motion-capable device's browser. No data is output in the Max patch.

[2017-05-18 21:05] benbrackenc74 opened #90 "Client Configuration: backspacing does not delete the first character of Client ID"
to repro:
1. open miraweb launcher
2. connect in the browser
3. click on the 'gear' icon to bring up the config screen and backspace to delete the entire ID - when you delete the first character, the original id is filled in again

[2017-05-18 21:16] benbrackenc74 opened #91 "fpic: does not update on client when dragging an image onto fpic object box"
steps:
1. in Max, new patcher with mira.frame
2. connect in browser
3. in Max, make an fpic object in the mira.frame
4. from the image toolbar mini browser, drag in an image and drop it over the fpic - image is changed in Max
5. look at client - no image change
6. back in Max, delete the fpic and undo - in client, the image changes

[2017-05-18 21:23] benbrackenc74 opened #92 "mira.channel: freeobject errors in Max when sending lists to client"
Sending lists to the client via Max produces errors in Max, though the data gets sent:
`freeobject: 610035eba940: bad object`

Steps to repro:
1. open mira.channel help patcher
2. click on button to open example in browser
3. back in Max, click on "send a list" message box - `freeobject` error appears in Max Console

[2017-05-18 21:44] benbrackenc74 opened #93 "umenu: popup text cut off on certain devices"
On iPhone 6, the below patcher's umenu popup is cut off when opened on the client:

<pre><code>
----------begin_max5_patcher----------
402.3ociSssaBBDD8Y3qfrOSMnRs09p8Ov1WZSiYAGwQgcI6EiFi+6cugfQS
ZIgkcNyggyrmgywQjB9QPRRdK46jnnywQQNHKPTHNhzPOVVSkNZDcCvzjTel
CTAi1.2m.W6v3E6dJOuCjoaPVMnbEZb.rkJLUPAhU.iVTCCygJnIHNxWffSR
SHo1kOY86emKut+CAzGrPSUCdmEHqrOZIf8LWhFAPR9oWmbspSnSCnR0Iu5H
jqRWUtEYUqDPoxKy77QYo

[2017-05-19 15:46] starakaj commented on #89
Oooh yes can totally reproduce. This is a big breaker.

[2017-05-19 17:45] starakaj commented on #89
K, should be good now. Rebuild miraweb to test.

[2017-05-19 17:46] starakaj commented on #88
Wouldn't be surprised if this was actually caused by #89, since an error in mira.motion might have caused the page to stop loading.

[2017-05-19 17:47] starakaj commented on #88
Sure enough, I think this is OK now :)

[2017-05-19 17:48] starakaj commented on #93
I have an iPhone 6. Can test.

[2017-05-19 18:00] starakaj commented on #93
Ya ok, word. Should be good now.

[2017-05-19 18:01] starakaj commented on #92
Looks like it's time for another episode of "Sam has no idea how to manage memory"

[2017-05-19 18:22] starakaj commented on #92
Yeah, that was the problem all right. Ok, bug was in mira_ws_server, actually. You'll need to rebuild that (and not mira.channel) to make this work, but it should be good.

[2017-05-19 18:23] starakaj commented on #87
oh yuck

[2017-05-19 18:50] benbrackenc74 commented on #43
closing this out.

[2017-05-19 18:50] #43 closed

[2017-05-19 18:56] benbrackenc74 commented on #88
fixed

[2017-05-19 18:56] #88 closed

[2017-05-19 19:06] benbrackenc74 commented on #89
all fixed!

[2017-05-19 19:09] benbrackenc74 commented on #93
A slightly different problem:
<img width="1058" alt="screen shot 2017-05-19 at 12 09 08 pm" src="https://cloud.githubusercontent.com/assets/13490380/26263068/0126694a-3c8c-11e7-897f-b5276bf6757d.png">
<pre><code>
----------begin_max5_patcher----------
402.3ociRssaBCCC841uhp7bGpbcvdk8Gv1KaZBkVLfg1jpboBDh+80jzrzs
AZqR0M9XG65iOWhiH47Sfjj7Tx6IQQWhihrPFfnN+HRE8TQIUZSinq.llj5h
zPELZE76.R04RGrGgoq3ZUInrk

[2017-05-19 21:00] fde31 opened #94 "Update React"
Currently we get a warning to PropTypes being deprecated. We should update our included React version and integrate the use of the 'prop-types' package. Should be a simple fix.

[2017-05-19 21:00] fde31 commented on #89
<3

[2017-05-19 21:36] benbrackenc74 commented on #93
All fixed up!

[2017-05-19 21:36] #93 closed

[2017-05-19 21:40] benbrackenc74 commented on #90
looking good!

[2017-05-19 21:40] #90 closed

[2017-05-19 21:55] benbrackenc74 commented on #87
Slight addendum here, in the client, you need to disconnect, then reconnect, then query mira.status again and you will see a second instance of the client.

[2017-05-19 23:02] benbrackenc74 commented on #92
fixed, nice!

[2017-05-19 23:02] #92 closed

[2017-05-22 12:33] starakaj commented on #87
Ooooooo can repro. FWIW, this appears to be a regression, as I can't get this to happen with the previous miraweb release.

[2017-05-22 12:52] starakaj commented on #87
K, should be fixed now near as I can tell. Requires rebuilding xebra-communicator, so unless you're running npm install again you'll have to cd to packages/xebra-communicator and run `npm run build` before this will work.

[2017-05-22 22:30] benbrackenc74 commented on #87
working well.

[2017-05-22 22:30] #87 closed

[2017-05-24 22:32] benbrackenc74 commented on #58
There are still some issues with this work. @1offby says:

Here is a case where multiple tabs within sub-patchers in presentation mode render images unpredictably. Also unpredictable when all are not in presentation mode, but this example is more "real world" in my case.

The attached patcher works pretty well in the Mira app, and OK when the browser is on the local machine, but not great/or at al

[2017-05-25 14:04] starakaj commented on #58
Well at least it's not freezing! Taking a look

[2017-05-25 14:36] starakaj commented on #58
This is working pretty okay for me, it's just really slow. So to help me debug a bit, @1offby, what do you mean when you say it "renders images unpredictably?"

[2017-05-25 16:14] 1offby commented on #58
[https://youtu.be/d74R19uJMKE](https://youtu.be/d74R19uJMKE)
In the example patch, choosing a tab sometimes shows blank buttons rather than buttons with images. A tab that showed images when selected once will be blank when selected again after switching to another tab. These images will either take >10 sec to load or not load at all until the iPad screen is tapped. This is what I'm calling "unexp

[2017-05-25 17:34] benbrackenc74 commented on #58
Maybe this is turning into a feature request to somehow cache resources that are used multiple times?

[2017-05-25 18:01] 1offby commented on #58
Yeah, whatever this is it ain't #58 as originally described.
Is the ability of MiraWeb to (at least kinda)quickly draw UI elements on tab switch, including images in live.text, a new "feature?" I have assumed this was expected functionality.

[2017-05-26 17:24] fde31 commented on #58
I agree that this is neither ideal nor expected behaviour. We are investigating and figuring out a solution. Just to give a bit of insight: we are trying to identify if the work on this should be done in MiraWeb or in Xebra.js. The latter would make it more widely usable but maybe also reduce flexibility for users of the lib version. So yeah, we'll keep you updated and thanks for the ongoing feedb

[2017-05-26 17:33] 1offby commented on #58
I enjoy being part of the process!
There's a lot of value to me and my clients in MiraWeb/Xebra.js.
GUI-in-the-browser is a real step forward for a lot of applications; I appreciate you and your colleauges' work on improving its real-world implementation!

[2017-05-26 17:39] 1offby commented on #58
Regarding Ben's comment above, if there was a method similar to preload messages to sfplay~ that held image assets in some kind of buffer or cache for quicker recall in the browser, I'd use it.

[2017-07-10 11:32] fde31 opened #97 "comment: text alignment / placement differences"
Originally reported by Georg Hajdu via private e-mail. There are some differences in the way Max, MiraWeb and Mira iOS App place text within a comment. To showcase this in extreme I made a simple, example:

**/ Max**
<img width="486" alt="screen shot 2017-07-10 at 13 29 49" src="https://user-images.githubusercontent.com/1119173/28016258-ed00e628-6573-11e7-90b4-a68d6fd5dd7b.png">

**/ MiraWeb**
<im

[2017-07-10 11:35] fde31 commented on #97
Missed the patch b4:

<pre><code>----------begin_max5_patcher----------
310.3ociQEjaCBCD7r4UX4yTKfDhI8VeGUQUFGG5R.6HiIh1n72KdAZop4Pu
.ZFlc2YFtEQXk1AcGi9L8UJgbKhPPp.AYFSXsxAUirCkwT11Vswyhm9lWO3Q
9zEFSeKXZzdTd5LIbDEYKqeZ6hvSViuC9Ti5RS3I+r.aueYCKrc9OZPor0mt
tuyCm.kzCVy5CFVtQ1NMwKNP1rL1EoW8NXpdyoU9ojmUH3Y4wzr7M7vqcEil
gllsmmPODl5dTT3Q7+riZAmjexEN+iJkj+VJe2dPkwNZrFPcdcbdbmTJUmqb
1dyw0ZeP.2raNfBAlrzLdpH

[2017-07-17 19:28] 1offby opened #98 "POSIX Error 7007"
This popped up in the Mira App when connected via USB.
I'm sure I was quitting & restarting Max and all kinds of things.
Don't know whether this is the proper place to report, putting it here nonetheless.
![mira app what is this](https://user-images.githubusercontent.com/1762758/28285950-6cc9158e-6aeb-11e7-9dd4-50f4b92a0919.jpg)

[2017-07-17 19:36] benbrackenc74 commented on #98
@1offby yeah, this is strictly for Miraweb dev/bugs/FRs. I believe this is a known issue for Mira app under certain circumstances and is tracked internally.

[2017-07-17 19:36] #98 closed

[2017-08-07 17:04] 1offby commented on #72
I'm running into this as well, as MiraWeb is finding a client's intranet Ethernet adapter rather than the WiFi adapter needed for finding a tablet.

[2017-08-09 16:04] 1offby commented on #72
Just a use-case update here:
Was using iPad app in an effort to improve Mira graphics performance (#79, #58). Gave up. Stripped that stuff out of the Mira parts of this project.
iPad app does find mira.frame in the cases where there's more than one active ethernet adapter.
Now hope to revert to MiraWeb WiFi, 'cause I'm a believer!!
But client machines have 2 active ethernet adapters
1) Wired-only-

[2017-08-11 17:53] 1offby opened #99 "Add Mira support for tab object"
Live.tab has limitations.
For example its contents cannot be changed dynamically.
Support for the Max tab object would offer a more versatile tab option in Mira.

[2017-08-11 17:57] 1offby opened #100 ""Stay" or "Highlight" option for mira.multitouch"
Given a mira.multitouch object with x horizontal and vertical regions:
Add ability to highlight x number of last touched regions.
Similar to "stay" feature in ubutton or behavior of tab/live.tab

[2017-08-12 18:11] 1offby opened #101 "Int: Object shows triangle in MiraWeb even when "Draw Triangle" is 0"
<pre><code>
----------begin_max5_patcher----------
362.3ociRssiBCBD8Y5WQCO20TqW108WYyFCzhUzVnY.ZzX7ee4pVS5lHO.L
WOybl4VFBSkWXJb924+jiP2xPHuJmBTTFg6IWp6HJuaXgomx.bQvzHADjd1L
VrRRitio8gUE0NPz0G4h18.qVGfspb2hxh7keV4d1T5tqr+y+MFCuwmdI8zG
U3G4ArvpYvdlfP67Evxns.r5qCr..XbQNlRDs3GozVbbQp1RwozWCIBmPQCb
aXAkkIuHirl8Ds0F0nYO+ohjVj0bbSmgIOjTmzOs36jh144uWbScTB52vuTO
uZFabwHWwSTUv98rrmO966YEu4dPOGHKN3x97S7DewaE

[2017-08-12 18:33] 1offby opened #102 "Comment: Underline does not work"
<pre><code>
----------begin_max5_patcher----------
272.3ociQFsaCBBEF9Z3ovv0NiRac18prrrfTl6zJfAwFWZ569fCZVuvsLt.
x+OmC+7A2nDVqcVMxxdI60LB4FkPPqnAYQSXZwrrWLhkwjVsVY7r7zdd0reK
eyj1N46UdrqxE2AgW9IX5d2oj9TpbdSQYdV0AdZoLtvCyYuszDbBCv1d9I95
wOYNob8fQE2p5mLAyZjqli9u5wpXrnwcJMNk+OoUCNQwGNgV82fAcFafodPd
4wv2f2pZj2liHmGpKJii5.5M7sgd2ZzsB4kNmMv9uRc4CLhmESLLbU4FAqAw
LBY.wyVWT9bNJASRtCkN0UXs98nivEnvGPXxkdJmq2yR

[2017-08-14 14:34] fde31 commented on #99
filed as FR

[2017-08-14 14:37] fde31 commented on #101
just checked and it seems like it's simply not implemented. Filed as a FR, should be an easy one

[2017-08-14 14:39] fde31 commented on #102
Just checked and seems like the `underline` attr is simply not implemented. Filing as a FR for MiraWeb and Xebra.js (in order to include it as a default attr).

[2017-08-14 14:58] fde31 commented on #100
Thx for the feedback!

If I understand correctly u'd like to see some highlighting for the last x region(s) touched, right? I will file this as a FR for now but guess there might be different ways to achieve this.

1. Have a 'build-in' highlighting option with a dedicated highlighting color
2. Allow different background colors for regions and pass the 'logic' of setting the highlighting on to the

[2017-08-14 17:34] 1offby commented on #100
My exact use case is to support tab-like behavior (#99).
Your (2) example sounds better than (1). A deluxe implementation might also allow:
Text contents per mira.multitouch region.

[2017-08-14 17:34] 1offby commented on #99
Thank you!

[2017-08-14 17:35] 1offby commented on #101
Thank you!

[2017-08-14 17:35] 1offby commented on #102
Thank you!

[2017-08-14 19:22] ashleybellouinc74 opened #103 "fpic: does not update on client when using "read" message"
steps:

- in Max, new patcher with mira.frame connect in browser
- in Max, make an fpic object in the mira.frame. Attach a "read" message to fpic.
- Click "read" and select an image.
- image is changed in Max, but not on the client.

[2017-08-14 19:55] benbrackenc74 commented on #91
fixed on the Max side

[2017-08-14 19:55] #91 closed

[2017-08-14 19:55] benbrackenc74 commented on #103
fixed on the max side

[2017-08-14 19:55] #103 closed

[2017-08-16 10:17] fde31 commented on #72
Just a heads up that this might only be related to the built-in reporting of MiraWeb while the server/client might/should still be available. I agree that it's not ideal and we'll try to look into this soon.

In the meantime could you do me favour and let me know if you can access MiraWeb in the described cases by ignoring the reported IP address and instead look up the address manually and access

[2017-08-16 16:15] 1offby commented on #72
I'll try this ASAP.
This potential workaround makes intuitive sense.
It'll be a couple days before I'm at a location with this type setup.
Thank you!

[2017-08-17 20:20] JulesFrancoise opened #104 "mira.channel: freeobject errors in Max when sending lists from client"
Hello,

I have an issue similar to #92 : messages sent from the client using `sendMessageToChannel` with an array argument cause error messages in the Max console like:
`freeobject: 610035eba940: bad object`.

To reproduce: from the `mira.channel` help, type in the browser console:
`xebraState.sendMessageToChannel("fromBrowser", ['a', 3]);`

Thank you for the great work on miraweb!

[2017-08-17 20:25] JulesFrancoise opened #105 "Xebra.js: State::close() method causes Max crash"
Hello,

It seems that the `State::close()` method causes Max to crash (the log indicates a segmentation fault).

To reproduce with the `mira.channel` help patcher, type the following in the browser console:
`xebraState.close()`

[2017-08-18 22:03] 1offby opened #106 "Enhancement: Hide Status Bar when going fullscreen"
On iPad using iOS 10.3.3 I think only Safari supports "Go Fullscreen?"
When MiraWeb in Safari gets its own desktop icon and runs in fullscreen the status bar (clock, charge level, etc), the status bar remains visible and overdraws the Tab Name.
Not sure whether this is even Xebra/MiraWeb issue, but would be preferable to hide or draw over the status bar or shift the Tab Name below status bar.

[2017-08-19 00:33] 1offby opened #107 "umenu bgfillcolor change requires reload"
changing the bgfillcolor attribute of umenu will only show in MiraWeb when the browser is re-launched:

<pre><code>
----------begin_max5_patcher----------
1165.3oc6XkriiaCD8r8WgfN6XHRp0ff.L.4PNjkCStMHvfVlVMmVhxfhpQ2
Yv7umhjRxV1xqPcxL.pAZYphrJxZ48JZ+k4ybWW9Jqx04Gc9jyrYeY9rYFQZ
AyZdelaA80zbZkYYtErpJZFycgcNE6UkQ95rs777zx7Roi2xvt+QsqrR8VNy
rzVI7MlWKW+4efzJqrVkyTp21wrGJWWm+tYpcTU5SbQ1JIKUYmEQHKCSPwDx
B

[2017-08-19 03:08] 1offby opened #108 "Umenu dropdown is too small"
The umenu dropdown is pretty tightly spaced. I can hit the correct selection but I sometimes miss.

<pre><code>
----------begin_max5_patcher----------
453.3oc0TssaCBCC8Y3q.kmYUDtzK6WYZpJPc6xFjTkKUsqp+6i3DZoRcapR
cOLj.isOX63yQbLNhTK2CZRxyIujDEcLNJBC4BDE7iHcr8MsLMBiX6.gkj5y
rioDrN3RhWnuNjaqBzfvvLbovAfFhyWgvk0u+TwYrLUeYLfZIHX0svX7ZyAe
.xsp7REzX7yed07IYoIzhJmohhNkSxRdM7cBamzZZACdRJFlGCzE1.zzDRJI
MIOXK

[2017-08-20 16:31] 1offby opened #109 "touch on umenu when contents change"
If the contents of a umenu in mira.frame are changed dynamically, the new contents don't always load properly. Especially if the changed umenu is touched soon after the change. The incorrect umenu contents don't appear to update until miraweb browser is relaunched:

<pre><code>
----------begin_max5_patcher----------
890.3oc0Xt0aSCCEG+41OEQ4QnTEeIoM7s.wiHzTZpoyPhSkiyXCDe2w2921
M5UsUFLo0SiiyuyEeNGG2

[2017-08-23 03:25] 1offby opened #110 "Umenu with single item does not display contents"
In the (admittedly strange) case where a umenu has only one item, MiraWeb does not seem to show that item.
Mira app does show the item.

<pre><code>
----------begin_max5_patcher----------
371.3ockRssiBBCD8Y3qfzmYMf5xp6uxlMlBLhUgVR6ThFi+6auPUHqYuPBL
LW5YldNy03HRo3LnHIum7QRTz03nHWHafnQ+HRG8bUKU4Jin6.tlj5yLPkbZ
G78D8Tr5.i2rSBUnG970aWjkljmW3LYYVyxkKxR9b7PrZGPhxiurL.DW2IzX
Kfttu5N7RSaQPtC3zxV2.jGPAgN0z

[2017-08-27 19:21] 1offby opened #111 "Feature request: "Focus" output from mira.status"
Maybe already possible?
An output from mira.status that declares which mira.frame has focus on a particular client.

[2017-08-29 09:54] fde31 commented on #110
Can reproduce _but_ the single item has to be a number. If you use `a` instead it works fine. Shouldn't be that hard to fix.

[2017-08-29 09:55] fde31 commented on #107
yep. totally reproducible. filing as bug

[2017-08-29 09:57] fde31 commented on #108
yep. We should improve that. Maybe we should even make it agnostic whether it's a touch enabled or mouse input enabled device in order to have better usability.

[2017-08-29 09:58] fde31 commented on #111
filing as enhancement

[2017-08-29 10:03] fde31 commented on #109
Yep, can reproduce. Additionally umenu does seem to handle the situation well when the dropdown is open while the content is changed. Filing as bug.

[2017-08-29 10:07] fde31 commented on #104
passing to @starakaj

[2017-08-29 10:12] fde31 commented on #106
we might not be able to do that due to iOS limiations. However, we could at least detect the WebApp mode and opt for a higher offset at the top in that case.

[2017-08-29 10:14] fde31 commented on #105
yes. Reproducible for me here. Passing to @starakaj

[2017-08-29 10:15] fde31 commented on #72
any update on this @1offby? Thanks for the help!

[2017-08-29 15:10] 1offby commented on #72
No, the systems where I should test this are currently in full time use. Probably be able to check this in the 1st/2nd week of September.
Sorry for the delay...

[2017-08-29 15:16] 1offby opened #112 "Int/Float: triangle 0 does not work."
Triangle shows in MiraWeb, but not Mira App:

<pre><code>
----------begin_max5_patcher----------
659.3oc2WssjhCBD84juhT7bVqPt69qXYYQTzgYHfEg35TS4+9xkDGc1X7ZM
Sb8gfzzA5tOmb.9v0ATv2hq.d+1ahmiyGtNNFSZCNM8c.knsyonJia.JYCdT
Ekr.K.91w2fDLTI9qCOANs0CVcIgQwRyT.aLV8B+OsuWPis0H47WHrUyD34R
aXElGMJv2CFYZhFqeNNYTf2zCmm5xBU.cvLorvqksqYXiUxBSTxKd8WPHX+h
JTggDKlgYnBJ9vfbs.WgYRjjvYmLnBZdrOjrqr780Xq6.fuGXIkiTu99vFs

[2017-08-29 15:18] 1offby opened #113 "Live.slider (& maybe live.dial?) Element does not resize when showname/shownumber is 0"
Live.slider element should be longer when showname/shownumber are 0:

<pre><code>
----------begin_max5_patcher----------
659.3oc2WssjhCBD84juhT7bVqPt69qXYYQTzgYHfEg35TS4+9xkDGc1X7ZM
Sb8gfzzA5tOmb.9v0ATv2hq.d+1ahmiyGtNNFSZCNM8c.knsyonJia.JYCdT
Ekr.K.91w2fDLTI9qCOANs0CVcIgQwRyT.aLV8B+OsuWPis0H47WHrUyD34R
aXElGMJv2CFYZhFqeNNYTf2zCmm5xBU.cvLorvqksqYXiUxBSTxKd8WPHX+h
JTggDKlgYnBJ9vfbs.WgYRjjvYmLnBZdrOj

[2017-08-29 20:23] 1offby opened #114 "Message: Text color does not respect alpha value"
Maybe not something MiraWeb needs to support, but:

<pre><code>
----------begin_max5_patcher----------
372.3ocwTFsaCBBEF9Z8ovv0NihUotmf8NrrrPsLGsJXPrwll9tO3f1YS1ZS
VZW8BfygeNd99k3AeOzJ4.qCE7bvqAddG787fT1DdiwdnF5PYMsCjgZXcczJ
FJzsmlMng7uvmR0pXcLglp4Rw6JVo1UdbZRTbX.NN2NEOND71rBUJqkJm53n
BbRVdgUTQBIeAAVkZerqvYmNorWWyz58sL2QQnSaI5a3BylPqiGS1o2WCRQn
uk4JBnKYhCpt7Stn5LFRmw.tHJyLhmQAeMTX4pMOsDYScz22NDd+c

[2017-08-29 20:35] 1offby opened #115 "Feature request: Something like Ubutton"
The functionality or mira.multitouch accomplishes what button does, and a lot more.

Would be neat to have a MiraWeb object that's transparent by default, sends a 1/0 (or bangs from different outlets) when touched/released, without all the features/dense output of mira.mutitouch.

Mira.monotouch.

Tried using message etc but ran into #114.

[2017-08-29 20:35] 1offby commented on #114
Also true for live.text (and maybe live.xxx?)

<pre><code>
----------begin_max5_patcher----------
557.3oc4W0taaBCE82vSQj+MCgsI3j8Dr2gppHCwk5VvNxXPopJu6ye.MjVV
VV6VCZEIrw26kq84bOxFdNL.jK2yZ.K99haVDD7bXPfyj0PP+3.PMceQEswE
Fnh2wh0r8ZPj2aGUIn0rScdS5sC9ks5JlV+zNleZ.fHy8ha6cKZq4BS.trC6
MRKzlLYSTgrRp7uXRbRzIMnkiyhedboA0acGUWbOWTtQwJz9jfVQruLJIy1k
l3GDm7Rl3acHQl+v2fofWRjx.QMSsgIn4Urwq0FZGa6FpVq34sZ1wmZ5Yw

[2017-08-29 22:57] evanmtp opened #116 "mira.multitouch doesn't report angle of rotation in radians"
When connecting to a Mira server using Miraweb, mira.multitouch doesn't output the angle of rotation in radians for rotate gestures. See for example the mira.multitouch help patcher, specifically the mira.mt.rotate abstraction in the advanced tab - the first outlet will always output 0. When connecting via the Mira app, this behaviour does not occur and mira.multitouch does output the angle of rot

[2017-08-30 22:09] fde31 commented on #112
I guess that's a duplicate of #101

noted that it affects int and float

[2017-08-30 22:09] #112 closed

[2017-08-30 22:10] fde31 commented on #101
affects int and float as mentioned in #112

[2017-09-04 16:24] 1offby opened #117 "Live.tab output density"
Maybe a side effect of fixing #57, not sure what the best outcome is.
I notice that moving within a single live.tab tab outputs many ints even if the tab selection does not change.
I guess I expect the sliding action would select the "next" tab index slid over but not re-output the "current" selected tab index. This is how live.tab behaves in Max:
<pre><code>
----------begin_max5_patcher----------

[2017-09-06 04:02] 1offby opened #118 "Client build error?"
Hi, trying to build using the instructions [here](https://github.com/Cycling74/miraweb)
But I get the attached when running any of the build commands from /packages
Never did this before so maybe I'm doing this incorrectly...Any advice?
[npm-debug.log.zip](https://github.com/Cycling74/miraweb/files/1279720/npm-debug.log.zip)

[2017-09-06 04:04] 1offby commented on #118
From the error dump in Terminal:
Tell the author that this fails on your system:
npm rimraf ./build && webpack --config webpack/release.config.js

[2017-09-06 18:47] benbrackenc74 commented on #118
@1offby it would be good to know exactly what you are doing. Can you provide a set of steps?

[2017-09-06 18:59] 1offby commented on #118
@benbrackenc74 I figured out how to accomplish my goal without building. This is not a priority for me.

I got this result by following the build instructions on the homepage for this repository on an unchanged clone of https://github.com/Cycling74/miraweb.git. I was interested to see if it worked.
`$> npm run setup`
and
`$> npm run clean`
were successful
then I tried
`$> npm run build-release`
fr

[2017-09-07 14:47] fde31 commented on #118
Hey @1offby

let me give you some background first and how MW is setup wrt packages in the repo and then follow up with written down instructions on how to build each of them and MiraWeb as a whole.

Maybe this helps and you can follow the direct steps or see what differs from the setup you've been running.

**/ Packages **

MiraWeb itself constists of 3 parts:

* Xebra-Communicator (the communica

[2017-09-08 14:14] 1offby commented on #118
@fde31 Many thanks for this explainer.
To be clear: I did try running the build process without `cd` into a subfolder. I only did `cd` when the build didn't work.
I am running High Sierra beta 9.

After a fresh clone of https://github.com/Cycling74/miraweb.git here's the result of re-trying the repository build steps you listed:

NOTE: The steps listed above do not include

`$> npm run clean`

Whi

[2017-09-08 17:31] 1offby commented on #79
Here's another example with no images or live.xxx objects:

<pre><code>
----------begin_max5_patcher----------
4787.3oc6ct0ajiakG+Y2eJDpf.jrqmJhWzsrOM.4gDfLY1rIA4gIMLTUEqx
ZZUREzE2t6f7ce4EIYI6RpN1VjrwnZFzks0MR9ijG9+bHEq+8GtY0l7GYkqb
98N+jyM27u+vM2HOj3.2z722r5X7iaSiKkW1ps4GOxxpVcq5bUrGqjGmt1oJ
+vgTlS08IkNrGXEewYO6yNkrs4Y6JW67iaJYEOHNOyIMOdmSUxQlSb1Nm3sa
qKh29Em78N7Kth+7KcRxb9gjh3+IaSaZkljweV0YxDD2b

[2017-09-08 21:03] 1offby opened #119 "Int: Does not respect @mousefilter 1"
Maybe Miraweb should allow an int to send value only after touch is released?
I don't know.

<pre><code>
----------begin_max5_patcher----------
560.3ocwVEsbpBCD8Y3qfIOacBfn16uRmNNAHZSKjvjDbrSm9u2jMDEqnEui
05CD3jMY28rmj0OBCP4hcTEJ5eQOEED7QXP..YAB59N.US1UTQTfYHhVKaYn
Ito3s0hVcEUCSF2g1PzEuv3aVIoEZ2lmlNaJdRTLNCFxv1gjjo3nm6Vjaezu
2Pcq.g1OUijpnbMQyD7A1y3X6.t6w9UYhMF+6glM7g7vjTr51ZehvJATQ9qO
DG6AqDEu0ewJ

[2017-09-08 21:03] 1offby opened #120 "Int: does not respect min/max"
This seems like a bug:
<pre><code>
----------begin_max5_patcher----------
560.3ocwVEsbpBCD8Y3qfIOacBfn16uRmNNAHZSKjvjDbrSm9u2jMDEqnEui
05CD3jMY28rmj0OBCP4hcTEJ5eQOEED7QXP..YAB59N.US1UTQTfYHhVKaYn
Ito3s0hVcEUCSF2g1PzEuv3aVIoEZ2lmlNaJdRTLNCFxv1gjjo3nm6Vjaezu
2Pcq.g1OUijpnbMQyD7A1y3X6.t6w9UYhMF+6glM7g7vjTr51ZehvJATQ9qO
DG6AqDEu0ewJ86UPzgPVfOCCsOlbWXtEKukDW5gs7Z4MF+b7F92g2LwSNU52
6sDImTS6MySwOOLolbdRM

[2017-09-11 20:42] starakaj commented on #105
Okay, got it. This requires a fix to the miraweb package, but it should be okay now.

[2017-09-11 20:52] starakaj commented on #105
Replace miraweb/extensions/mira_ws_server.mxo with this to test

[mira_ws_server.mxo.zip](https://github.com/Cycling74/miraweb/files/1294029/mira_ws_server.mxo.zip)

[2017-09-12 22:15] benbrackenc74 commented on #105
With this new mira_ws_server, Max is still crashing. report:
https://pastebin.com/TF715Jee

[2017-09-12 23:03] benbrackenc74 commented on #105
this is fixed. I was bitten by some search path baloney.

[2017-09-12 23:03] #105 closed

[2017-09-13 18:21] 1offby commented on #72
Yup.
Substituting the desired adapter's IP address in a browser connected to the same network does indeed open the MiraWeb connection, despite a different address being reported in Miraweb's Max websocket  notification.
Very good!

[2017-10-16 16:49] c74 commented on #107
This is also an issue with panel:
<pre><code>
----------begin_max5_patcher----------
699.3ocsVssbaBCD8Y3qvidl5AgQF67V+NxzwiLVfUhPhQHbcZl7uWciat1F
mzV+f.ock1cOmUG76gAf8hyjFvhmV77hff2CCBrKYVHvOO.TgOmyvMV2.XkR
1RAQNS0XU9QJubmjjqbGyJ31kwQKPHyHb8ZyijUKiW7C+dDsJFQodql31..z
apPvUE3bqg3tPHIMDtBqnB9mILzC17Ur+kukf.iBPC8W1..0d6Wl2VQ45jxV
hP+hlJsfxTDoOOw4J5Ix9xbASHGRZieNnYh8QQjiqrQD7cIEy.CA0AEShZi5
Mly4N+Tjyp

[2017-10-20 01:03] 1offby commented on #106
Fullscreen looks better in Safari under iOS 11+. Maybe not MiraWeb related?

[2017-10-26 23:42] aumhaa opened #121 "[mira.frame] and m4l hangs"
Difficulties arise when using Miraweb inside of m4l, especially when switching between the editor and Live.  The symptoms are the essentially the same sort of thing that were happening in my earlier reports (Max hangs when trying to instantiate [mira.frame].  It seems to be a port lock, perhaps the external instance with its bound port isn’t getting released when switching to editor, so isn't avai

[2017-11-06 12:38] fde31 opened #122 "MonoRepo / Compatibility with NPM 5"
Node LTS moved to v8.9.0 which comes with npm 5.5.1 . as part of that Lerna MonoRepos are encountering some issues in their setup. We should revisit, investigate and find a solution that is proven to get us moving forward.

[2017-11-15 03:37] 1offby opened #123 "Update mira.frame location using thispatcher"
Sendbox messages to thispatcher moving the location of mira.frame don't update the display of mira.frame contents in miraweb/mira app. Seems like this should work:

<pre><code>
----------begin_max5_patcher----------
1113.3oc6XsriihCEccxWAh0YhrMfAO6FoYwrnern6ckFUxg3jxcQfHioT0S
q9eet1FngpyCRFROUIQVf.iuO74dOGax2lOyeUwyhReue26NuYy917YyrCYF
XV8yy72weNMiWZml+pJstH2eg6UEU5LgV+08BmO7Wwy256820udOWm9fLe68
J

[2017-11-15 04:15] 1offby opened #124 ""hide" behavior for mira.frame"
The ability to enable/disable a mira.frame object from inclusion in the miraweb/mira app display.
"hidden" works for objects within a mira.frame, but not the mira.frame itself:

<pre><code>
----------begin_max5_patcher----------
1437.3oc6X0zaiaCD8r8uBAs8nqgHkDkX6oBzC8P6VTr6sff.YaZatQVxfhJ
MaWj+6kenuijrriRhCfxAEYRNyP937dbn9w7YlqhejjXZ7KF2XLa1OlOalpI
YCyx98LyCAOtNLHQMLSd7tcgDyE5tdHfEEbfToma.2l24w.95

[2017-11-15 17:43] 1offby opened #125 "Update objects in mira.frame using thispatcher"
This method works, but the miraweb/mira app object has to be refreshed before changes show:

<pre><code>
----------begin_max5_patcher----------
1351.3oc6X0ziiZCF9bxuBDaOlMx1.Fb6oJ0C8P6VUs6snQiHDOY7NDHx.Sm
sq1+6801.CjgDXXIyJUAGHfwue3G+79X670kKr2l9DOy15ms1XsXwWWtXgtI
UCKJeeg8gvmhhCyzcy9.OKKbO2dk4a47mx0smeeX9FzMV5ewpeEYl2gew2T0
+iRdFOIOLWjlbqjGkahsii2ZzJKh4GrGV+FYMx5lRCSKxi444e4H2Xgsc8mx
x+RrtU6pnjTb

[2017-11-15 17:52] 1offby opened #126 ""refresh" message to mira.frame?"
Enhancement: Given #123 and #125 would a scripting message that refreshes the contents being shared to miraweb/Mira app via mira.frame be helpful/feasible?

[2017-11-16 17:30] 1offby opened #127 "Version check"
Are there release notes/changelog for MiraWeb 1.2.4?
I just discovered the 1.2.4 update in Max Package Manager dated September 2017.
No release on this GitHub repository or obvious announcement at c74.

[2017-11-16 17:35] benbrackenc74 commented on #127
@1offby this Package-only update was to fix a crash in the mira_ws_server extension, and did not require any changes to the miraweb repository.

[2017-11-16 17:35] #127 closed

[2017-11-17 00:17] kierancoulter opened #128 "Allow user to select network adapter miraweb uses"
See: https://cycling74.com/forums/set-miraweb-ip

Sometimes WiFi, LAN, dual-LAN etc. are all on different networks. It would be great to pick which one MiraWeb uses so that it will connect correctly with client(s) that can only connect on that particular network.

[2017-11-17 20:36] CarloCattano commented on #39
Fullscreen maybe could do the trick too . And its quite usefull actually , since for most use cases you dont wantto see the browser tab, and perhaps that will also allow to lock rotation . Didnt try but I will soon following this reference https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API

[2017-11-18 08:31] omarcostahamido commented on #128
+1
This would be really helpful!

[2017-11-18 15:44] CarloCattano opened #129 "Using Xebra in a node server instead of clients browser"
I font know if this is possible. All my tests have failed and I couldn't find any documentation about it.

I prefer to use Xebra to send max data to the node app, then from there I will send it to the clients using socket.io .

Its useful when you need to process the data each client receives in different ways. and perhaps more efficient for a multi user (+20) experience.

[2017-11-20 20:38] fde31 commented on #129
Yeah. This is a duplicate of #84 currently xebra-communicator relies on a global WebSocket implementation like the ones offered by browsers. I'll look into it as it would be ace to have Xebra available in Node I guess.

[2017-11-20 20:39] fde31 commented on #129
closing out as duplicate. any further work/discussion should be done in #84 thx!

[2017-11-20 20:39] #129 closed

[2017-11-21 14:54] CarloCattano commented on #84
Indeed this would be a very useful feature to work  with

[2017-12-03 22:56] aumhaa opened #130 "xebra.js/examples/06-p5js missing support files"
Seems like some files are missing from the package, I get:

Not allowed to load local resource: file:///Users/amounra/GitHub/miraweb/packages/xebra.js/examples/js/lib/boid.js

Did a search and nothing comes up, so I'm guessing some local files didn't get added to the package.

[2017-12-04 14:56] starakaj commented on #130
Okay, I see. Looks like that file didn't get included somehow when we merged xebra.js into miraweb. Thanks for pointing this out!

[2017-12-28 13:51] Saturo76 opened #131 "Option to Auto Connect"
For those that are using a static IP and being that the port doesn't change it would be great if there was the option to auto-connect.

[2018-01-20 15:14] AdrianArtacho commented on #14
Is it possible to show up each mira.frame in a single-tab browser window, rather than as multiple tabs in a single window? any workarounds?

[2018-01-21 23:41] starakaj commented on #14
Hi Adrian, no, that's not currently possible. You could always open up multiple browser tabs, connect each one to the same instance of Max, and then manually switch each one over to a different Mira tab, but that doesn't sound very fun. What exactly are you trying to do, that you'd prefer browser tabs over Mira tabs?

Also, as this doesn't really relate to the original issue, would you mind creati

[2018-01-22 16:36] AdrianArtacho opened #132 "Display different mira tabs as independent browser tabs."
I am using miraweb to coordinate a choreography (around 20 people) based on visual cues they get on their smartphones' browser. Before the performance, each person will be assigned a role, and thus it would be ideal to forward each user to a specific URL where only the tab that is relevant to them can be seen full-screen.

Can this be done?
Any advice would be much appreciated ;)

[2018-01-22 16:38] AdrianArtacho commented on #14
Thanks for your advice, Sam.

I've open a a [new issue](https://github.com/Cycling74/miraweb/issues/132) for this question.

[2018-02-26 08:32] computermusik opened #133 ""offset" message to fpic doesn't work"
<img width="295" alt="offset_message" src="https://user-images.githubusercontent.com/17442406/36660211-a3529034-1ad7-11e8-8260-ccb268d863aa.png">
Scrolling the content of fpic is not supported in MiraWeb (haven't tested with the Mira app). This is definitely a nice-to-have.

Thanks,

computermusik

[2018-03-15 12:44] klausfilip commented on #125
...yes, but it works with script move:

<pre><code>
----------begin_max5_patcher----------
1302.3oc6YEzbiZCE9r8uBF1dz0CR.BT6oNSOzCsamN6dySlLXrhi1fAOBga
1ty9euOIAXvArwo3jCENfEOzSehu268IojuMel85rmY41V+j0JqYy917Yyzl
TFlU97L6cQOGmDkq6l8NVddzVl8By6jrmkZ6xGijqbtyR+KR8KO27L7K5tp9
uWvxYoxHIOKU4GpzdZwtrBYBSl2zZydeufEKMyTWW+kNKrvleP9H8S3kNV2U
5nYrjecOy3gsc8qxkeMQa019H17zJnwUPGIiejmtsArAtZ3P39PkuQOtYq+x
ORsU

[2018-03-15 18:01] 1offby commented on #125
Neat, and certainly less verbose than the "sendbox" method I was trying.

This is more of a Max question but as far as I know "move" messages to thispatcher don't work on the presentation mode object placement. Is this correct?

[2018-03-16 02:10] klausfilip commented on #125
mhm, you are right. i never use presentation mode..

[2018-04-01 18:54] starakaj opened #134 "Enable/disable a mira.frame object via attribute"
Would be cool if it were possible to enable/disable a mira.frame object using an attribute. When a mira.frame object is disabled, it does not appear in the mira context, and will not be mirrored to any devices.

[2018-04-01 19:02] 1offby commented on #134
Maybe merge #124 with this I think its the same FR.

[2018-04-01 22:36] starakaj commented on #134
I think.......... you are right. This is the same thing. Thanks!

[2018-04-01 22:36] #134 closed

[2018-04-01 22:36] starakaj commented on #134
Duplicate of #124

[2018-07-16 16:52] benbrackenc74 opened #136 "fpic: does not scale svgs correctly"
Check this patcher in Max and in MiraWeb:

<pre><code>
----------begin_max5_patcher----------
1731.3oc0Zs0aihCE941eEnncdKSJl6oqVsZWs+E1mlcTjAbndJXiLl1Nyn4
+95K.ARAhSaIclJUfXaNW9NGe7wly2u9pUwzmPUqrt05SVWc02u9pqTMIa3p
lee0pB3SI4vJ0vVsuDmrZstiRHO4NLIaGCkv0DA.1Xu1x0KPdyIDrwesEv2a
is0madIRcAlji3JxAZojfnRpey+VgXU2DiHwLXx8HxM+C8QRNElVcSILC8Qv
lpGxZ4OrlS2i48Ijf5zZ9yHOCUgHbHGSImkvhSUhEM9KeLpkqZ5y+ZIRSkUe
A

[2018-10-24 00:00] vichug opened #137 "client issue : doesn't register touches when a comment object is covering a UI object"
Hey,
This patch for example :
<pre><code>
----------begin_max5_patcher----------
456.3ocqS1rabBCDG+L7TX4K8BEggMKPO02ippJCdxhS.aj8P1MMJu60e.Y2
zrpopobvVyfmwyu+immRSnc5SfkR9B4ajjjmRSRBt7NRVsSnS7S8iba3XTEb
T2cGMK9KDNgA2yFoBIecVOuLSXa+dli8CR0geXfdLdKk0r7hLRU8N+Vakesr
Luf780XTKSR0Hfgqis5zhONBgKZK0RQvzUKetkdNT8BtEag24yoo9kr+R550
SSfBeCd3fzR5VPTqHG0pOgDKnDDNoiqNPNN.JBpW5G.wVniREzqWTg32s57V
sBsxeFHwAcUU6M

[2018-10-24 16:32] benbrackenc74 commented on #137
@vichug I can't actually reproduce. What versions of Max and the Miraweb package are you using? I've tested on a few devices (iPad Pro, iPhone 8, desktop). Can you post your support info here? Thanks!

[2018-10-25 22:23] benbrackenc74 opened #138 "Max 8 compatibility: live.dial, message, umenu, meter~ are not rendered"
Going through the mira.frame help patcher, the following objects are no rendered in the browser:
- live.dial
- message
- umenu
- meter~

Haven't done any excavation, and there are not errors in the Max Console or browser console.

[2018-10-26 18:45] benbrackenc74 commented on #138
It appears that in the case of message and umenu, it has something to do with their gradient usage. Touch any color attr and they will get rendered.

In the cases of live.dial and meter~, their constructors and paint methods are never hit. If you put a post at the top of live.dial, it will post, but it never reaches the class definitions, which makes me think there is something amiss deeper in the

[2018-10-31 23:54] benbrackenc74 opened #139 "live.grid: clicking on a constrained cell will select the next closest cell in the column"
Probably some interpolation is happening to find the next available cell, but we only want to select the cell if it actually has been touched. Example:

<pre><code>
----------begin_max5_patcher----------
748.3ocuV0liaBCD82jSgE+lEYCFBopWgdBVEEY.mDuKXGYaRS0p8tWaiYYI
Ex9Q21DER7XqYl2ady37zpfvRwEpJD7Mv8fffmVED3LYMD3WGD1RtT0PTtiE
VIZaobcXT+dZ5EsyNiC9A4RDnpgU8HPvAI7ZfPBzGYxZfT7Svc.tv8ClBnnM
zJMsdvMmH5piL

[2018-11-02 20:00] starakaj commented on #138
Thanks for reporting this. Paint won't get called until all of the attributes are set, so I'm guessing something has changed such that Max 8 isn't sending all the attributes anymore.

[2018-11-02 20:28] starakaj commented on #138
Alright.... I'm having some trouble building miraweb.... but I'm looking into this

[2018-11-05 13:33] vichug commented on #137
@benbrackenc74 Hey sorry for the delayed response !
Max is running on my machine :
OSX 10.10.5 (Yosemite)
node.js version when typing `node -v` in terminal : `v0.12.7`
**miraweb is v1.0.1, because max is 7.3.1 ; maybe i should do an update here.**
Here is a dump of supp infos from my max :
[code]

[2018-11-05 13:50] #137 closed

[2018-11-05 15:36] starakaj commented on #138
Okay, figured out the building issues. Not clear why they didn't come up before, florian thinks lerna might have changed somehow. Anyway, the issue is exactly what we thought: Max 8 no longer defines certain attributes. Making those attributes optional is an easy fix, working on that now.

[2018-11-05 15:54] starakaj commented on #138
Panel is actually a problem child as well—anything with a gradient is gonna be an issue.

[2018-11-05 16:15] starakaj commented on #138
Alright, I'm gonna close and make a new ticket for meter~. The issue here is much more complex than for the other objects, and is gonna require an update to the meter~ object itself in Max. Basically, the update to multichannel meter~ got rid of a pseudoparameter that would update whenever the object redrew its levels. So we at least need to update the object not to break old functionality, as a s

[2018-11-05 16:16] starakaj opened #141 "Max 8 compatibility: meter~ multichannel"
Update the implementation of meter~ to support the MC changes to meter~

[2018-11-06 09:11] fde31 commented on #120
Waiting for a PR by @benbrackenc74

[2018-11-07 09:48] fde31 opened #142 "Investigate need for custom PixiJS dependency"
I noticed we still have a custom build of PIXI in use for MW. Maybe it's time to investigate if that's still absolutely necessary!? Any thoughts @starakaj ?

[2018-11-07 09:52] fde31 commented on #138
Not sure why this was closed as this hasn't been merged fully yet. So yeah, reopening here. @starakaj I assume this is the work of PR #140

[2018-11-07 10:06] fde31 commented on #138
merged in PR #140, which leaves us with meter~ from #141 . will close this ticket. @starakaj please consider working on dev for these kind of things or on a feature branch for proper PR's for the future. Thanks.

[2018-11-07 10:06] #138 closed

[2018-11-07 10:30] fde31 commented on #132
That sounds awesome.

Unfortunately with the current way MiraWeb is designed this is not really possible I'm afraid. For more granular control we'd advise taking a look at xebra.js and / or the new Node For Max package to build more custom experiences for your use-case or forking the MiraWeb client by itself.

[2018-11-07 10:30] #132 closed

[2018-11-07 10:35] fde31 commented on #133
I just ran a test and it appears that scrolling via the Inspector does in fact work. However, using the patch that @computermusik provided I can reproduce that changing the offset position via the `offset` message does not update the position on the client. @starakaj possible that the "change" notification from Max is not triggered accordingly?

[2018-11-07 10:38] fde31 commented on #131
We have some code in place to do this in the development server environment. Shouldn't be too hard to allow this same codepath to get triggered via another query parameter

[2018-11-07 10:40] #122 closed

[2018-11-07 10:40] fde31 commented on #118
Can't reproduce and in fact was able to build without any issues. Closing out

[2018-11-07 10:40] #118 closed

[2018-11-07 11:08] #85 closed

[2018-11-07 17:47] benbrackenc74 commented on #120
this is on dev, awaiting a merge to master

[2018-11-07 18:13] benbrackenc74 commented on #110
I removed the check for item length, and just now check for items or <empty> to return null. @fde31 want to double check and close out?

[2018-11-07 20:01] benbrackenc74 commented on #107
a workaround is to use bgfillcolor_color, though I'll see if we can just add bgfillcolor as well...

[2018-11-07 22:13] #117 closed

[2018-11-08 16:55] starakaj commented on #142
Just a quick look at PIXI seems to suggest that our changes have been merged to their master, so it's probably fine to use the PIXI release branch instead of our custom jank branch. Needs testing of course.

[2018-11-08 16:59] starakaj commented on #104
This is worth re-testing in light of some of the work we did for Node for Max. I uncovered some issues there with passing dictionaries + arrays between objects, and some of the fixes I added then might have addressed this.

[2018-11-08 17:21] fde31 commented on #141
Moving to 1.3.0 given the workload required for MC functionality

[2018-11-08 17:23] fde31 opened #144 "Overhaul MonoRepo Structure"
In a chat we kinda started leaning towards a unique version number version across all projects/packages involved. Additionally it seems like rebuidling xebra.js and communicator by itself is kinda stressful for developers instead of running a simple, single command from the top that does all work.

[2018-11-12 14:33] starakaj commented on #130
Somehow this never got resolved, and now I can't find this local file either...

[2018-11-12 14:34] starakaj commented on #128
This is, unfortunately, a core libXebra issue. Gonna require a bit of work to add/fix.

[2018-11-12 14:35] starakaj commented on #126
I can see why this is desirable, but it's adding a feature to hide a bug. I'd rather just fix the bug.

[2018-11-12 14:35] #126 closed

[2018-11-12 14:36] starakaj commented on #125
Another issue in the family of "bugs caused by attributes updating but not sending notifications"

[2018-11-12 14:37] starakaj commented on #124
This is a cool idea. I'm not sure exactly how much work it is, but it's a cool idea anyway.

[2018-11-12 14:38] starakaj commented on #123
Related to #125 I think. The issue is the same, that attributes are updating but not sending notifications.

[2018-11-12 14:39] starakaj commented on #121
I feel your pain here. This is probably an issue with something very core to Mira, though.

[2018-11-12 14:41] starakaj commented on #119
Interesting! Is this a bug or an enhancement? Kind of both, I'd argue. It's more complicated than it seems—we probably want Miraweb to update the display of the integer box during drag, but we don't want it to actually send an update until touch end. That would be complicated to implement. This would be much easier if we simply updated the display in Miraweb (and not Max) until touch end.

[2018-11-12 14:42] starakaj commented on #115
Would a transparent message solve this issue? Would much rather fix that bug than add a new object.

[2018-11-12 14:44] starakaj commented on #113
Would require a change to live.* objects, I think. The issue is that Max isn't notifying when the object frame changes.

[2018-11-12 14:44] starakaj commented on #111
Hmm. We'd need to create a per-client global attribute..... I think this is possible but I'd need to take a closer look.

[2018-11-12 14:45] starakaj commented on #108
Probably not too hard.

[2018-11-12 14:50] starakaj commented on #100
Hmm hmm hmm. 2 is of course more flexible, but I also feel like it's way more work. I'd kinda hate to make users do something in a patch that's much easier to do in code. Something else to consider—the "last x regions touched" is going to be different for each user. So the simplest, cleanest implementation is going to be to do everything in code on the Miraweb client end.

[2018-11-12 14:51] starakaj commented on #97
Eww. Looks really bad on Mira iOS. I'm sure there's a good reason why it's such a pain, tbh.

[2018-11-12 14:52] #86 closed

[2018-11-12 14:53] starakaj commented on #83
@catarak is this still an issue?

[2018-11-12 14:54] starakaj commented on #77
Smells like an "untouched attr" issue.

[2018-11-12 14:56] starakaj commented on #72
I wish this was an easy fix, but it's gonna require changes to libXebra itself I think.

[2018-11-12 14:57] starakaj commented on #58
Need to follow up on this one.

[2018-11-12 14:59] starakaj commented on #142
Should be fixed as part of https://github.com/Cycling74/miraweb/pull/145

[2018-11-12 15:32] 1offby commented on #119
Only Mira UI updating during finger scroll is an acceptable workaround.
I don't know how this would work but, in cases where the number box is set to @mousefilter 1,  is something like "set $1" during drag and then the final value without set on object release  possible?

[2018-11-12 16:46] catarak commented on #130
since i made this example, i can fix this!

[2018-11-12 16:51] catarak commented on #83
I bet this is still an issue. Maybe this is also related to #139?

[2018-11-12 17:53] #130 closed

[2018-11-13 15:40] fde31 commented on #110
labelling as fixed.

[2018-11-13 15:40] #110 closed

[2018-11-14 15:47] fde31 commented on #116
moving to 1.3.0 milestone

[2018-11-16 16:46] fde31 opened #149 "Number Producing NaN"
Seems like a issue for the number object has creeped in creating a `NaN` output when interacting with it from the MiraWeb client.

To reproduce use the following, simple Patch:

[code]

[2018-11-16 16:54] fde31 commented on #149
ok. this is a duplicate of #120 as the bug is caused by the changes for that. Closing out and reopening

[2018-11-16 16:54] #149 closed

[2018-11-16 16:56] fde31 commented on #120
Reopening this as I'm running into an issue where the minimum/maximum is set to `<none>` and therefore makes MiraWeb produce `NaN` up on client interaction.

To reproduce use this basic patch
[code]

[2018-12-04 01:06] benbrackenc74 opened #151 "live.tab: ignores text color attributes"
The text color of live.tab is always set by the bordercolor:

<pre><code>
----------begin_max5_patcher----------
600.3ociTssiaBCD8Y3q.4moHayM69qTUEYHlDuKwNxXnY0p7uWeARfFV0MR
gId7vLyYlyIeFGAZT23Cfjel7qjnnOiih7tbNhlOGAtvt01yF7gA5ES7LCqA
jFtbhokrK7cuyvuYTxVUuRGJALClZefJnPDsBVSJxQ40NWUU35hRHk.yoXTU
ZBJCl7647nFM8bi4iq7PZ.fzv2tdEy.dDmb7xgdgjOb3JyzdVHO4hGspa1zK
zJx5p5ZC5ytBWVPctvy8ToO5xsc1RcNn4slPdwd7Qo0

[2018-12-04 09:59] starakaj commented on #151
It's just a question if actually using the text color attributes, instead of totally ignoring them.

[2018-12-04 09:59] starakaj commented on #151
Ready to test.

[2018-12-12 23:10] #151 closed

[2019-02-02 06:15] vatogonzalez commented on #121
Same issue here. Started a new (empty) Live project, added a fresh/empty "Max Audio Device", edit with Max via Live's usual button and as soon as I create a new "mira.frame" both Max and Live hang. No other VST/AU/Max devices present, no other patchers. Strange thing is, it doesn't do this all the time. Just most of the times. I've had it working through the iOS MIRA app and MIRA web on the curren

[2019-02-02 06:19] aumhaa commented on #121
FWIW, I’ve been observing this behavior for a long time, but haven’t been able to isolate a cause.  I’ve found that sometimes restarting all network activity (disconnecting wifi, restarting Max/Live) has worked, but generally these days its too much trouble to use, so I’ve not been using Mira.  I’d love to get to the bottom of things….

I’ve had this problem on my mobile machine more than desktop

[2019-02-02 06:31] vatogonzalez commented on #121
While digging a little deeper into the processes running (Activity Monitor) and watching the Console Logs for any possible hints of what the server process name is (mira_ws_server, I think) - the 'hanged' Max application suddenly responded and the "mira.frame" instance loaded. It appears the server instance has some trouble initiating. If I find anything useful in the logs, I'll update this thread

[2019-02-04 12:38] vatogonzalez commented on #121
Has anybody got a clue what the actual process / socket / connector is on MacOS? I might be able to track it for a while longer and gather more intel for a more detailed report on the bug.

[2019-02-18 13:44] vichug commented on #141
hey, meter~ doesn't show at all in mira since max 8, see https://cycling74.com/forums/meter~-not-displaying-properly-in-mira

[2019-02-19 15:18] starakaj commented on #141
We had to move a couple things around to get this working. There's a pull request up for review now, should be fixed in the next one.

[2019-02-22 11:51] fde31 commented on #141
Assigning to myself to review the PR

[2019-03-13 16:19] ashleybellouinc74 opened #156 "umenu: cannot select umenu items on android smartphones"
**Describe the bug**
Cannot select umenu items on android smartphones.

**Expected behavior**
You should be able to select different umenu items.

**To Reproduce**
1) Open this patch in Max 8.0.3:

<pre><code>
----------begin_max5_patcher----------
2042.3oc2assjiZCD84Y9JTQk8MGuHItNoRkJ42XyVSILx1JCF4BDyNaRs+6
QW.ajMXiufGuyr0ZiUChVm9zsTqK+2iO3jveiV5.dB7EvCO7eO9vC5hTE7P8
uevYE4sYYjR8s4TshlW4LwH4URQNY

[2019-05-04 00:23] corymetcalf opened #157 "live.grid:"
**Describe the bug**
Changing the number of columns of a live.grid breaks display and updating in miraweb.

**Expected behavior**
Proper updating of live.grid to reflect new columns and rows.

**To Reproduce**

Steps:
1 - create a mira.frame and add a live.grid.
2 - launch miraweb
3 - change number of columns and watch mira context.
4 - try interacting with live.grid.

----------begin_max5_patcher

[2019-05-31 13:22] JCurtisRMIT opened #158 "mira.frame support for matrixctrl & LCD"
matrixctrl + LCD feel like objects well suited to mira.frame support.

Placing this request here in case mira.frame is open for devs to attempt implementation (is mira.frame open?)

[2019-10-04 20:58] sonoptik opened #159 "fullscreen mode: more than one touch moves the entire frame, kicked out of FS mode"
1. Open Mira.web/ mira.frame in Max (launch patcher with slider is fine)
2. On the iPad go into fullscreen mode
3. Try touching more than one slider at once
4. You get kicked out of fullscreen mode back to normal mode
5. sometime hitting the gear icon again to try to go back to fs mode brings up a transparent overlay and locks up the whole thing, in which case you need to refresh you browser

Full

[2019-10-04 21:04] sonoptik opened #160 "Fullscreen Mode: Any touch of the Apple Pencil moves the entire frame"
Apple Pencil can't really be used at all with Mira.web

Just moves the entire Mira.frame around

watch video: https://www.dropbox.com/s/67h6qwnkydhx7gj/mira.mov?dl=0

[2019-10-04 21:06] sonoptik opened #161 "iPad Pro 12.9" - consistent lock ups"
mira.web is consistently 'locking up' when used with the iPad Pro 12.9"

sometimes refreshing the browser works, other times safari needs to be completely quit and restarted

tries turning gestures off and locking screen orientation - makes no difference

Mac 10.14.6
Max 8.1
Mira.web (latest)
iOS13
Apple Pencil 2nd Gen
iPad Pro 12.9"

[2019-10-04 21:11] sonoptik commented on #159
same behavior on iPad mini 2 Retina / iOS 12

[2019-10-04 21:30] sonoptik opened #162 "iPad/iPhone ios13 - fonts scrambling / weird fonts / text alignment"
Issues with text scrambling, comments moved to new lines, and alignment

Appears to be related to the size of the browser. If I open mira.web in a browser on the same machine as Max, certain sizes produce the text as expected, but most sizes scramble and misalign everything. See here: https://www.dropbox.com/s/wgohis5l4tz4xep/mira2.mov?dl=0

As seen in Max
![Screenshot 2019-10-04 14 18 02](https:/

[2019-10-04 21:31] sonoptik commented on #162
Also no Idea why "Rando" appears now despite not being apart of Presentation mode

[2019-10-04 22:39] benbrackenc74 commented on #159
Cannot repro on iPad pro 9.7 inch running iOS 12. Will investigate with @sonoptik

[2019-10-05 00:07] benbrackenc74 commented on #159
So, I can repro if I do *not* launch from the home screen icon. The recent OS does not request that you make the home screen shortcut by default, and it allows you to go fullscreen directly in Safari. Maybe more recent OSes now allow direct fullscreen usage?

[2019-10-07 19:06] sonoptik commented on #161
happens slightly less after making a 'app' by adding to home screen (but still happens)

I can get it to lock up by going in & out of home screen - unfortunately it seems that ios13 no longer give you the prompt to 'Add to Home Screen' - might want to add this somewhere

[2019-10-07 19:22] sonoptik opened #163 "Switching between Linked/Patching/Presentation doesn't always work"
Switching between Linked (default) Patchign and Presentation doesn't always work consistently.

Sometime it includes UI objects that are not in presentation mode

Sometimes I just end up with a blank frame

iOS 13 & 12

iPad Pro 12.9 & iPad 2 mini retina

[2019-10-07 19:24] sonoptik commented on #159
need to add instruction on 'Adding to Homescreen' since this doesn't happen automatically anymore

[2019-10-07 19:25] sonoptik commented on #160
happens 'if' you don't launch from an app aka 'Add to Homescreen' icon - I found this confusing because I never received the prompt to make a home screen icon

[2019-10-11 10:08] steadykammer opened #164 "miraweb: fpic: transparency not working"
**Describe the bug**
In MiraWeb, the 'transparency' attribute to 'fpic' is ignored.

**Expected behavior**
transparency changes should show up on MiraWeb interface.

**To Reproduce**

- create an fpic on top of a miraframe
- load an image (png tested)
- change the transparency of the image in real time
- no transparency displays on MiraWeb interface

**Additional context**
not tested on Mira App,

[2019-10-21 17:04] corymetcalf commented on #89
Unfortunately seeing this again after a report from a user. They tested on an iPhone 8 and 2015 iPad Pro, I tested on an iPhone XR. All on iOS 13.

[2019-11-20 18:40] maybites opened #165 "Mira.frame -> multitouch keeps past multi finger touches"
when using multiple fingers with multitouch, one of the fingers stays displayed and keeps on adding up until the touch index reaches 12.

**Expected behavior**
once the fingers release the touchscreen, no fingers should be seen in the UI.

**To Reproduce**
Open example from the package and connect with Fairphone 2 and Firefox browser. Start touching the multitouch with two fingers...

**Screenshot

[2019-11-20 19:43] benbrackenc74 commented on #165
This appears to work ok on iOS (tested on iOS 13.1.3), so possibly an Android-related issue.

[2019-12-10 17:02] tonetechnician opened #166 "Display encapsulated subpatchers in Miraweb"
Hey there!

Amazing package. I've been loving it. Thanks to the dev for all the work!!

I was just wondering if it's expected behavior for subpatchers (bpatchers) to not be displayed in mira? I've got a bunch of encapsulated objects and haven't been able to see them in my mira view.

If it is, I think it would be super useful to get encapsulated subpatchers to display correctly in Mira.

[2019-12-10 17:27] starakaj commented on #166
I agree, it would be extremely helpful. When we have some time to take a closer look at Mira, this will be at the top of our list for features to investigate. Thanks for making the FR!

[2020-01-20 09:55] vichug opened #167 "mira.touchbar ?"
Mira would be a nice setup to work with the touch bar, the thin thing on modern macbooks that it's hard to find a use for. There is https://urbanlienert.com/miditouchbar/ and https://pock.dev/ for examples ; it would be nice to have an option to customize it from within Max.

[2020-01-20 09:56] vichug commented on #163
i have similar experience

[2020-01-29 13:26] LasseMunk commented on #166
+1 to awesome FR

[2020-03-19 18:00] lopezmontes opened #174 "iPhone motion sensors not detected with Miraweb"
Yesterday I tried a new project with Miraweb, and then I noticed that no motion sensors as gyroscope, accelerometer are detected. It is weird, because I used then a lot months ago without no problem, and my system has no major changes, apart from Max and iOS updates.
Any ideas about the issue?

Thanks in advance.
Pepe
---------
iPhone 5S - iOS 13.13.1
MacBook Pro (15-inch, 2017)
OSX - Sierra 10.12

[2020-03-24 21:47] mbmosher commented on #89
Can confirm this bug still exists on iPhone XR, iOS 13.3.1, safari and firefox, served from Max 8.1.1 OSX 10.14.6

[2020-03-31 19:44] benbrackenc74 commented on #77
Another ping from support on this one.

[2020-03-31 19:48] ashleybellouinc74 commented on #163
I can reproduce this as well using the below patch.

- Launch the patch
- Open a MiraWeb browser
- Enter presentation mode in the patch. Notice that objects that are not in presentation mode show in the web browser.

<pre><code>
----------begin_max5_patcher----------
2387.3oc4a08iiZqE+4Y9qvJpqtujlEaCDXppt51W5sOzmuOrc0HmfSh6PvH
vLyraU+e+5ufAR.BIAxrq5nQDhsAeN+N+NG+0I+082MaE+UZ9LvCfOAt6t+5
96tSWjpf6r

[2020-04-28 06:29] Weshhhh commented on #121
Hi we are now in 2020 and nothing changed... I've got the same issue, spend hours to change configurations, try to understand why etc... It's super frustrating that it "sometime" works, but can't find the exact configuration for this. Please @c74 we can't use mira in M4L thats sad! :(

[2020-05-03 21:14] djshanno commented on #174
Same problem, iPhone X.
https://support.thinglink.com/hc/en-us/articles/360025878094-Enabling-accelerometer-on-iOS
Miraweb seems to need to query the iphone for access to sensors, but it does not.

[2020-07-06 13:21] matcham commented on #163
I was about to report the exact same problem... but as this issue has already been reported, here is another striped down example :

almost all my patches have this issue. Sometime, moving the objects by a couple of pixels in patching mode temporarily fixes the problem, but if I close and reopen the patch : it's back again.

[code]

[2020-11-12 22:53] benbrackenc74 opened #180 "implement live.meter~"
FR for implementing live.meter~ in miraweb. It is available in the latest Mira update, so it would be nice to have some parity.

[2020-12-17 01:25] omarcostahamido commented on #174
same here:
iphone SE ios 14.1 browsers safari, chrome, firefox (all updated)

[2020-12-17 01:28] omarcostahamido commented on #89
Can confirm bug still exists on iphone SE ios 14.1 broswers safari, chrome, firefox, with Max 8.1.8 Miraweb 1.2.5 OSX 10.15

[2020-12-17 13:40] ruudboon opened #182 "NFR: Keep Alive - Ping Pong"
With unstable connections it sometimes happens that the connection is reset or you find out too late that the connection isn't reachable. I'm looking for a solution that actively checks the connection with the host and automatically tries to reconnect.

We builded a small [prototype](https://github.com/ruudboon/miraweb/tree/reconnect) to demonstrate a solution.
It's based on a message that is deli

[2020-12-20 06:10] JCurtisRMIT commented on #174
broken here also on iPhone X: iOS 13.7 Safari

but all motion still working on iPad Air (First Gen) iOS 10.2 on same websocket

[2020-12-29 10:31] JCurtisRMIT opened #183 "<object>: Panel"
**Describe the bug**
Sending `bgfillcolor` as a message to `panel` does not update the colour of the `panel` object
But, using the inspector to change the same attribute actually does refresh the panel object to the selected colour

**Expected behavior**
Both using the inspector and sending the `bgfillcolor` message to the panel object will alter the panel's background color

**To Reproduce**
Send

[2021-01-03 08:28] lysdexic-audio commented on #183
Via the c74 forum: `bgcolor` rather than `bgfillcolor` with list of rgba values will reflect changes in both the `panel` object in patch and in mira clients

[2021-01-03 08:29] JCurtisRMIT commented on #183
Via the c74 forum: `bgcolor` rather than `bgfillcolor` with list of rgba values will reflect changes in both the `panel` object in patch and in mira clients

[2021-01-03 08:29] #183 closed

[2021-01-05 08:35] lysdexic-audio opened #184 "Miraweb + Live.grid:"
**Describe the bug**
Updating the `columns` attribute for `live.grid` using a message crashes miraweb client

Attempting to slow throughput with a sizeable qlim / speedlim between, the redraw does not clear the old UI for [live.grid] making the UI unresponsive and unstable - eventually crashing.

Appears to only be with Miraweb and not Mira (iOS)

**Expected behavior**
Changing the `columns` attri

[2021-02-18 19:56] joex92 opened #185 "Web Server Remote Control"
Hi!

first of all, sorry if this issue was already mentioned before...

I've used [olilarkin/wsserver](https://github.com/olilarkin/wsserver) Package to control a web server locally and vice-versa.
But I was wondering if with MiraWeb is possible to have a node.js web server running outside of max and be able to control the website or even connect it to a patch to control the patch... I'm more inte

[2021-04-28 12:53] psychon7 opened #188 "How to play audio from max patch on the ipad/phone using miraweb?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2021-08-10 18:51] jinpavg opened #195 "miraweb externals do not load on arm64"
On launching the MW package, we get:

`mira_ws_server: could not load due to incorrect architecture`

MW objects similarly report:

[code]

This is on the Max 8.2.0 beta running natively on M1 with Big Sur 11.5.1

[2021-08-10 18:59] #195 closed

[2022-01-25 22:32] thely opened #199 "Opening custom Xebra interface with localhost, rather than file://etc?"
Question is essentially what's in the title. I'm looking at using Miraweb, but only because I'm interested in doing a custom interface on a localhost website that would connect back to Max with Xebra.

While I know mira.frame is important to start the server, all the Xebra-specific examples open the webpage files as `file://etc/etc/index.html` instead of `localhost:8086/etc/index.html`. I get that

[2022-01-26 17:43] thely commented on #199
Somehow in the process of this, I completely forgot that I could just localhost the website separately on a different port, since the Xebra connection doesn't depend on the port of the site matching Max's 8086 if you're not leaning on `mira.frame`. Leaving this up but closing it in case someone else has the same brain glitch I did!

[2022-01-26 17:43] #199 closed

[2022-06-29 20:49] JamesGreenaway opened #206 "<object>: Mira / Xebra: Secure WS connection"
I want to host a website on an external sever using HTTPS but make a local web socket connection to Max using Xebra. Unfortunately, in the current state, when I try and run a web page of this nature, Safari will block the web socket connection on the grounds that it is not secure (This doesn't happen in Chrome). From what I can gather the web sockets data is being sent from max insecurely and safa

[2022-07-06 15:28] benbrackenc74 opened #207 "mira.status: freezes Max"
**Describe the bug**
Opening the mira.status help patcher freezes Max.

**Expected behavior**
mira.status works

**To Reproduce**
Open the mira.status help patcher, or alternately, make a mira.status object, then try making any other object.

**Desktop (please complete the following information):**
 - Operation System: Windows 10
 - Max Version: Max 8.3.1
 - miraweb v1.2.6

[2022-08-10 09:13] vanessabarrera opened #209 "<object>: Slider and Dial"
Sliders and dials display the value in a popup message which cannot be removed.
I use miraweb for usability testing of audio products concepts and this behavior bias the participants and do not relate with the original UI design on the patch.

Expected fix:
Attribute to disable/enable  value popup for sliders and dials in Miraweb.
<img width="1436" alt="Screenshot 2022-08-10 at 11 09 43 2" src="ht

[2022-08-10 09:28] vanessabarrera opened #210 "include pictctrl and pictslider into supported UI objects"
I use miraweb for proof of concept and usability testing of audio products designs for mobile apps. I need that the test participants or stakeholders, can experience the prototype with the look and feel of a final product.

Expected solution:
include pictctrl and pictslider into supported UI objects

Workaround:
I have achieved to simulate the behavior of pictctrl and pictslider in Miraweb with mu

[2022-09-16 18:55] jinpavg opened #211 "1.2.7 on Windows gives "websocket connection available at: http://none:-1""
On Windows using Max 8.3.2 and also recent beta builds, sending `gethostname` to `mira.status` results in "none" and `getwebsocketport` results in "-1"

You can easily repro this in the launcher patch.

This appears to be a regression from 1.2.6

[2022-10-31 08:48] yomguy commented on #211
Same here.
Downgrade to 1.2.5 solved the issue for me.